$colors: (
  dark: (
    black: #000000,
    light-black: #222929,
    gray: #343a40,
    medium-gray: #434a54,
    light-gray: #777,
    white: #f5f5f5,
    orange: #ffa500
  ),
  light: (
    black: black,
    light-black: #222929,
    gray: white,
    medium-gray: #eeeeee,
    light-gray: #dadfe1,
    white: #000000,
    orange: #d91e18
  )
);

@mixin theme($mode) {
  $black: map-get(map-get($colors, $mode), black);
  $light-black: map-get(map-get($colors, $mode), light-black);
  $gray: map-get(map-get($colors, $mode), gray);
  $medium-gray: map-get(map-get($colors, $mode), medium-gray);
  $light-gray: map-get(map-get($colors, $mode), light-gray);
  $white: map-get(map-get($colors, $mode), white);
  $orange: map-get(map-get($colors, $mode), orange);

  & {
    @if $mode == light {
      font-weight: 400;
    }
    background-color: $gray;
    color: $white;
    a {
      color: $white;
      &:hover {
        color: $orange;
      }
    }
    h3 {
      .square-bracket {
        color: $orange;
      }
    }
    h5 {
      color: $orange;
    }

    .highlighted {
      color: $orange;
    }
  }

  .navbar {
    box-shadow: 0px 0px 10px 1px $light-black;
    background-color: $light-black;
    @if $mode == light {
      box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06),
        0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
      background-color: $gray;
      a {
        color: $black !important;
        &:hover,
        &:focus,
        &:active,
        &.active {
          color: $orange !important;
        }
      }
      .navbar-toggler {
        border-color: $black !important;
        &:hover,
        &:focus,
        &:active {
          outline: none;
        }
        .navbar-toggler-icon {
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }
      }
    }
  }

  #cookie {
    .cookie-warning {
      background-color: $medium-gray;
    }
  }

  .btn-primary {
    background-color: $light-gray;
    border-color: $light-gray;
    color: $white;
    &:hover,
    &:focus,
    &:active {
      background-color: $orange !important;
      border-color: $orange !important;
      color: $black !important;
      @if $mode == light {
        color: $gray !important;
      }
    }
  }

  .jarallax {
    .jarallax-img {
      @if $mode == light {
        -webkit-filter: brightness(120%);
        -webkit-filter: contrast(90%);
      }
    }
  }

  #about-me {
    @if $mode == light {
      color: map-get(map-get($colors, dark), white);
      font-weight: 300;
    }
    .text-scramble {
      .blinker {
        color: $orange;
      }
    }
    .go-down-container {
      .side {
        color: white;
      }
      #light-mode-btn,
      #dark-mode-btn {
        background-color: transparent;
        border: none;
        color: white;
      }
      #light-mode-btn {
        border-bottom: 1px solid #ffa500 !important;
        &:hover,
        &:focus,
        &:active {
          background-color: #ffa500 !important;
        }
      }
      #dark-mode-btn {
        border-bottom: 1px solid #d91e18 !important;
        &:hover,
        &:focus,
        &:active {
          background-color: #d91e18 !important;
        }
      }
    }
  }

  #experience {
    .fa-square-full {
      color: $orange;
    }
    .fa-cogs,
    .fa-laptop {
      color: $orange;
    }
    .timeline {
      &:before {
        background-color: $light-gray;
      }
      & > li > .timeline-panel {
        border: 0.5px solid $medium-gray;
        background-color: $medium-gray;
        &:hover {
          border-color: $orange;
        }
      }
      & > li > .timeline-badge {
        background-color: $orange;
      }
    }
  }

  #projects {
    .card,
    .card-footer {
      border: 1px solid $medium-gray;
      background-color: $medium-gray;
    }
    .card {
      .card-title {
        color: $orange;
      }
      &:hover {
        border-color: $orange;
      }
    }
  }

  #references {
    .reference-background {
      background-color: $medium-gray;
      border: 1px solid $medium-gray;
      &:hover {
        border-color: $orange;
      }
    }
    .fa-quote-left,
    .fa-quote-right,
    .reference-author {
      color: $orange;
    }
    .reference-author > a {
      color: $orange;
    }
  }

  #contact {
    input,
    textarea {
      color: $white;
      background-color: $medium-gray;
      border-color: $medium-gray;
      &:focus,
      &:hover {
        border-color: $orange;
        box-shadow: 0 0 0 0.1px $orange;
      }
      &::placeholder {
        color: inherit;
      }
    }
    .parsley-errors-list li {
      background-color: $orange;
      color: $black;
      @if $mode == light {
        color: $gray;
      }
    }
  }

  #footer {
    background-color: $light-black;
    @if $mode==light {
      background-color: $medium-gray;
    }
    .wrapper {
      .go-up {
        color: $orange;
      }
    }
  }
}
