#projects {
  .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }
  .cards {
    padding-top: 24px;
  }

  .card {
    margin-bottom: 20px;
    border-radius: 0px;

    .card-title {
      padding-bottom: 5px;
    }

    .card-body {
      padding-left: 5px;
      padding-right: 5px;
    }

    .card-footer {
      border-width: 0px;
      padding-top: 0px;
      margin-bottom: 8px;
    }
  }
}
