#about-me {
  height: 100vh;
  color: var(--my-white);
}

#about-me a {
  color: var(--my-orange) !important;
}

#about-me .parallax-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#about-me .parallax-background {
  left: -160px;
}

#about-me .parallax-skill-svg, .parallax-me, .parallax-ground, .parallax-background {
  position: relative;
}

#about-me .parallax-ground {
  left: -160px;
  top: 1810px;
}

#about-me .blinker {
  animation: blinker 0.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;
  color: var(--my-orange);
}

@keyframes blinker {
  to {
    opacity: 0;
  }
}
