#about-me {
  height: 100vh;
  color: var(--white);
}

#about-me a {
  color: var(--second) !important;
}

.parallax-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.parallax-background {
  position: relative;
  left: -160px;
}

.parallax-skill-svg {
  position: relative;
  /* max-height: 15vh; */
  width: 120px;
}

.parallax-ground {
  position: relative;
  left: -160px;
  top: 1400px;
}

.parallax-me {
  position: relative;
  width: 800px;
  left: 50px;
  top: 960px;
}

.text-scramble {
  font-size: 36px;
}

.blinker {
  animation: blinker 0.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;
  color: var(--second);
}

@keyframes blinker {
  to {
    opacity: 0;
  }
}
