#about-me {
  background-image: url('../images/parallax-background.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white);
}

#about-me a {
  color: var(--second) !important;
}

.parallax-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.parallax-me {
  position: relative;
  width: 800px;
  left: 50px;
  bottom: 420px;
}

.parallax-ground {
  position: relative;
  left: -160px;
  bottom: -60px;
}

.text-scramble {
  font-size: 36px;
}

.blinker {
  animation: blinker 0.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;
  color: var(--second);
}

@keyframes blinker {
  to {
    opacity: 0;
  }
}

.go-down {
  position: absolute;
  bottom: 50px;
  left: 50%;
}
