.btn-primary {
  background-color: var(--my-gray) !important;
  border-color: var(--my-gray) !important;
  color: var(--my-white) !important;
  border-radius: 5px !important;
  letter-spacing: 1px;
}

#projects .active, .btn-primary:hover {
  background-color: var(--my-orange) !important;
  border-color: var(--my-orange) !important;
  color: var(--my-black) !important;
}

.btn:focus {
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}
