#contact .submit-button {
  padding-right: 15px;
}

#contact .btn {
  padding-left: 30px;
  padding-right: 30px;
}

#contact .parsley-success {
  background-color: #DFF0D8;
}

#contact .parsley-errors-list {
  list-style-type: none;
  padding-left: 0px;
}

#contact .parsley-errors-list li {
  margin-top: 5px;
  padding: 3px 0px 5px 0px;
  background-color: var(--my-orange);
  color: var(--my-black);
  border-radius: 4px;
}

.vibrate-1 {
  animation: vibrate-1 0.3s linear infinite both;
}

@keyframes vibrate-1 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}
