.timeline {
  list-style: none;
  padding: 20px 0 20px;
}

#experience .icon-circle {
  font-size: 6px;
  margin-right: 5px;
  position: relative;
  bottom: 3px;
  color: var(--my-orange);
}

.timeline-job {
  color: var(--my-orange);
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: var(--my-gray);
  left: 50%;
  margin-left: -1.5px;
}

.timeline>li {
  margin-bottom: 20px;
}

.timeline>li:before, .timeline>li:after {
  content: " ";
  display: table;
}

.timeline>li:after {
  clear: both;
}

.timeline>li>.timeline-panel {
  width: 44%;
  float: left;
  border: 0.5px solid var(--timeline-item);
  border-radius: 5px;
  padding: 15px;
  background-color: var(--timeline-item);
}

.timeline>li>.timeline-panel:before {
  position: absolute;
  top: 15px;
  right: -15px;
  display: inline-block;
  border-top: 10px solid transparent;
  border-left: 15px solid var(--timeline-item);
  border-right: 0 solid var(--timeline-item);
  border-bottom: 10px solid transparent;
  content: " ";
}

.timeline>li>.timeline-badge {
  width: 15px;
  height: 15px;
  line-height: 50px;
  position: relative;
  top: 32px;
  left: 50%;
  margin-left: -7.5px;
  background-color: var(--my-orange);
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline>li.timeline-inverted>.timeline-panel {
  float: right;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

@media (max-width: 767px) {
  ul.timeline:before {
    left: 40px;
  }
  ul.timeline>li>.timeline-panel {
    width: calc(100% - 90px);
    width: -moz-calc(100% - 90px);
    width: -webkit-calc(100% - 90px);
  }
  ul.timeline>li>.timeline-badge {
    left: 15px;
    margin-left: 17px;
    top: 32px;
  }
  ul.timeline>li>.timeline-panel {
    float: right;
  }
  ul.timeline>li>.timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  ul.timeline>li>.timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
}
