#footer {
  background-color: var(--navbar);
  padding-top: 50px;
  padding-bottom: 50px;
  color: var(--my-white);
  overflow: hidden;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.3);
}

#footer a {
  color: var(--my-white);
}

#footer a:hover {
  color: var(--my-orange) !important;
  text-decoration: none;
}

#footer .icon {
  font-size: 32px;
  margin-right: 18px;
  position: relative;
  top: 3px;
}

#footer .wrapper {
  position: absolute;
  width: 100%;
}

#footer .go-up {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  color: var(--my-orange) !important;
}

#footer .hovered {
  color: var(--my-orange);
}
