#footer {
  background-color: var(--navbar);
  padding-top: 50px;
  padding-bottom: 50px;
  color: var(--white-text);
  overflow: hidden;
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.5);
}

#footer hr {
  border-color: var(--second);
}

#footer i {
  color: var(--second);
}
