html {
  --my-white: #f5f5f5;
  --my-black: #333;
  --my-orange: orange;
  --navbar: #222929;
  --my-blue: #2aabd2;
  --my-gray: #777;
  --background: #343a40;
  --timeline-item: #434A54;
  --important-lvl-3: #ffa500;
  --important-lvl-2: #ffce73;
  --important-lvl-1: #fff0d4;
  background-color: var(--navbar);
}

body {
  background: var(--background);
  color: var(--my-white);
  font-family: 'Open Sans', sans-serif;
}

h3 {
  font-weight: 400;
  letter-spacing: 5px;
}

h4 {
  font-weight: 400;
  letter-spacing: 2px;
}

.btn-primary, .btn-primary:active, .btn-primary:focus, .btn-primary:visited {
  background-color: var(--my-orange) !important;
  border-color: var(--my-orange) !important;
  color: black;
  border-radius: 3px;
}

.btn-primary:hover {
  box-shadow: 2px 2px 0px 1px var(--my-blue);
  color: black;
}

#about-me, #skills, #experience, #projects, #contact {
  padding-top: 120px;
  max-width: 100%;
  overflow: hidden;
}

#contact {
  padding-bottom: 80px;
}

.square-bracket {
  color: var(--my-orange) !important;
}

@font-face {
  font-family: 'fontello';
  src: url('../styles/fontello/font/fontello.eot?56638982');
  src: url('../styles/fontello/font/fontello.eot?56638982#iefix') format('embedded-opentype'), url('../styles/fontello/font/fontello.woff?56638982') format('woff'), url('../styles/fontello/font/fontello.ttf?56638982') format('truetype'), url('../styles/fontello/font/fontello.svg?56638982#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: "fontello";
}
