html {
  --my-white: #f5f5f5;
  --my-black: #333;
  --my-orange: #ffa500;
  --navbar: #222929;
  --my-blue: #2aabd2;
  --my-gray: #777;
  --background: #343a40;
  --timeline-item: #434A54;
  --important-lvl-3: #ffa500;
  --important-lvl-2: #ffce73;
  --important-lvl-1: #fff0d4;
}

body {
  background-color: var(--navbar) !important;
  background: var(--background) !important;
  color: var(--my-white) !important;
  font-family: 'Open Sans', sans-serif;
}

h3 {
  font-weight: 400;
  letter-spacing: 5px;
}

h4 {
  font-weight: 400;
  letter-spacing: 2px;
}

#about-me {
  padding-top: 100px;
}

#skills, #experience, #projects, #contact {
  padding-top: 80px;
}

#about-me, #skills, #experience, #projects, #contact {
  max-width: 100%;
  overflow: hidden;
}

#contact {
  padding-bottom: 80px;
}

.square-bracket {
  color: var(--my-orange) !important;
}

@font-face {
  font-family: 'fontello';
  src: url('../styles/fontello/font/fontello.eot?56638982');
  src: url('../styles/fontello/font/fontello.eot?56638982#iefix') format('embedded-opentype'), url('../styles/fontello/font/fontello.woff?56638982') format('woff'), url('../styles/fontello/font/fontello.ttf?56638982') format('truetype'), url('../styles/fontello/font/fontello.svg?56638982#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: "fontello";
}

.jarallax {
  position: relative;
  z-index: 0;
  min-height: 300px;
  margin-top: 80px;
}

.jarallax>.jarallax-img {
  position: absolute;
  object-fit: cover;
  font-family: 'object-fit: cover;';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
