.sectionPaddingTop {
    padding-top: 120px;
}

.fullHeight {
    height: 100vh;
}

.aosScrollbarFix {
    max-width: 100%;
    overflow: hidden;
}

.stickyNavbar {
    position: sticky;
    top: 0;
    z-index: 1;
}

.selected {
    color: pink !important;
    font-weight: bold !important;
}