@media (max-width: 991px) {
  body {
    font-size: 13px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 16px;
  }
  .btn {
    font-size: 12px;
  }
  .square-bracket {
    font-size: 16px;
  }
  .cookie-warning {
    width: 280px;
  }
  #about-me {
    padding-top: 20px !important;
  }
  #about-me .text-scramble {
    font-size: 18px;
  }
  #about-me .parallax-skill-svg {
    display: none;
  }
  #about-me .parallax-me {
    width: 300px;
    top: 1760px;
  }
  #contact-form input, #contact-form textarea {
    font-size: 14px;
  }
  #projects .card {
    width: 300px;
  }
  #footer .go-up {
    font-size: 50px;
    bottom: 143px;
  }
  #footer .icon-angle-double-up {
    margin-left: 17.5px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  body {
    font-size: 14px;
  }
  h3 {
    font-size: 26px;
  }
  h4 {
    font-size: 20px;
  }
  .btn {
    font-size: 13px;
  }
  .square-bracket {
    font-size: 20px;
  }
  .cookie-warning {
    width: 300px;
  }
  #about-me {
    padding-top: 50px !important;
  }
  #about-me .text-scramble {
    font-size: 28px;
  }
  #about-me .parallax-skill-svg {
    width: 70px;
  }
  #about-me .rust {
    left: 490px;
    top: 1820px;
  }
  #about-me .java {
    left: 510px;
    top: 1790px;
  }
  #about-me .js {
    left: 550px;
    top: 1815px;
  }
  #about-me .android {
    left: 590px;
    top: 1795px;
  }
  #about-me .ps {
    left: 630px;
    top: 1815px;
  }
  #about-me .parallax-me {
    width: 500px;
    left: 5px;
    top: 1595px;
  }
  #contact-form input, #contact-form textarea {
    font-size: 14px;
  }
  #projects .card {
    width: 210px;
  }
  #footer .go-up {
    font-size: 50px;
    bottom: 145px;
  }
  #footer .icon-angle-double-up {
    margin-left: 17.5px;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  body {
    font-size: 12px;
    letter-spacing: 0.5px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 16px;
  }
  .btn {
    font-size: 11px;
  }
  .square-bracket {
    font-size: 18px;
  }
  .cookie-warning {
    width: 280px;
  }
  #about-me .text-scramble {
    font-size: 30px;
  }
  #about-me .parallax-skill-svg {
    width: 80px;
  }
  #about-me {
    padding-top: 80px !important;
  }
  #about-me .parallax-me {
    width: 600px;
    left: 80px;
    top: 1525px;
  }
  #about-me .rust {
    left: 710px;
    top: 1810px;
  }
  #about-me .java {
    left: 750px;
    top: 1770px;
  }
  #about-me .js {
    left: 790px;
    top: 1800px;
  }
  #about-me .android {
    left: 830px;
    top: 1770px;
  }
  #about-me .ps {
    left: 870px;
    top: 1785px;
  }
  #contact-form input, #contact-form textarea {
    font-size: 12px;
  }
  #projects .card {
    width: 210px;
  }
  #footer .go-up {
    font-size: 50px;
    bottom: 140px;
  }
  #footer .icon-angle-double-up {
    margin-left: 17.5px;
  }
}

@media (min-width: 1400px) {
  body, #contact-form input, #contact-form textarea {
    font-size: 15px;
  }
  h3 {
    font-size: 30px;
  }
  h4 {
    font-size: 20px;
  }
  .btn {
    font-size: 13px;
  }
  .square-bracket {
    font-size: 20px;
  }
  .cookie-warning {
    width: 320px;
  }
  #about-me .text-scramble {
    font-size: 38px;
  }
  #about-me .parallax-skill-svg {
    width: 120px;
  }
  #about-me .parallax-me {
    width: 800px;
    left: 50px;
    top: 1360px;
  }
  #about-me .rust {
    left: 770px;
    top: 1760px;
  }
  #about-me .java {
    left: 810px;
    top: 1730px;
  }
  #about-me .js {
    left: 850px;
    top: 1730px;
  }
  #about-me .android {
    left: 890px;
    top: 1760px;
  }
  #about-me .ps {
    left: 930px;
    top: 1770px;
  }
  #about-me .go-down-fake-container, #about-me .go-down {
    zoom: 1.25;
  }
  #projects .card {
    width: 300px;
  }
  #footer {
    font-size: 15px;
  }
  #footer .go-up {
    font-size: 64px;
    bottom: 140px;
  }
  #footer .icon-angle-double-up {
    margin-left: 10px;
  }
}
