@media (min-width: 576px) and (max-width: 991px) {
  body {
    font-size: 30px;
  }
  #about-me .text-scramble {
    font-size: 64px;
  }
  #skills .star-text {
    font-size: 24px;
  }
  h3 {
    font-size: 50px;
  }
  h4 {
    font-size: 40px;
  }
  .square-bracket {
    font-size: 32px;
  }
  #about-me .parallax-skill-svg {
    display: none;
  }
  #about-me .parallax-me {
    width: 500px;
    left: 5px;
    top: 1595px;
  }
  #footer .go-up {
    bottom: 125px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  body {
    font-size: 15px;
  }
  #about-me .text-scramble {
    font-size: 32px;
  }
  #skills .star-text {
    font-size: 12px;
  }
  h3 {
    font-size: 28px;
  }
  h4 {
    font-size: 20px;
  }
  .square-bracket {
    font-size: 22px;
  }
  #about-me .parallax-skill-svg {
    display: none;
  }
  #about-me .parallax-me {
    width: 500px;
    left: 5px;
    top: 1595px;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  body {
    font-size: 16px;
    letter-spacing: 0.5px;
  }
  #about-me .text-scramble {
    font-size: 36px;
  }
  #skills .star-text {
    font-size: 11px;
  }
  h3 {
    font-size: 30px;
  }
  h4 {
    font-size: 22px;
  }
  .square-bracket {
    font-size: 24px;
  }
  #about-me .parallax-skill-svg {
    width: 80px;
  }
  #about-me .parallax-me {
    width: 600px;
    left: 80px;
    top: 1515px;
  }
  #about-me .rust {
    left: 710px;
    top: 1790px;
  }
  #about-me .java {
    left: 750px;
    top: 1755px;
  }
  #about-me .js {
    left: 790px;
    top: 1785px;
  }
  #about-me .android {
    left: 830px;
    top: 1760px;
  }
  #about-me .ps {
    left: 870px;
    top: 1770px;
  }
  #about-me .go-down-fake-container, #about-me .go-down {
    zoom: 1.5;
  }
  #footer {
    font-size: 18px;
  }
  .card-columns {
    column-count: 4;
  }
}

@media (min-width: 1400px) {
  body {
    font-size: 15px;
  }
  #about-me .text-scramble {
    font-size: 38px;
  }
  #skills .star-text {
    font-size: 12px;
  }
  h3 {
    font-size: 26px;
  }
  h4 {
    font-size: 20px;
  }
  .btn {
    font-size: 14px;
  }
  .square-bracket {
    font-size: 20px;
  }
  #about-me .parallax-skill-svg {
    width: 120px;
  }
  #about-me .parallax-me {
    width: 800px;
    left: 50px;
    top: 1360px;
  }
  #about-me .rust {
    left: 770px;
    top: 1760px;
  }
  #about-me .java {
    left: 810px;
    top: 1730px;
  }
  #about-me .js {
    left: 850px;
    top: 1730px;
  }
  #about-me .android {
    left: 890px;
    top: 1760px;
  }
  #about-me .ps {
    left: 930px;
    top: 1770px;
  }
  .card-columns {
    column-count: 4;
  }
  #contact #contact-form input {
    font-size: 15px;
  }
  #footer {
    font-size: 16px;
  }
}
