.grid {
  margin: 0 auto;
}

.card, .card-footer {
  background-color: var(--timeline-item);
}

.card {
  border-color: var(--timeline-item);
  border-width: 2px;
  margin-bottom: 10px;
}

.card-title {
  color: var(--my-orange);
  padding-top: 10px;
}

.card-body {
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.card-footer {
  border-width: 0px;
  padding-top: 0px;
  padding-bottom: 20px;
}

.card:hover {
  border-color: var(--my-orange);
}

/* clearfix */
.grid:after {
  content: ' ';
  display: block;
  clear: both;
}
