#about-me {
  height: 100vh;
  padding-top: 80px;
  @media (max-width: 991px) {
    font-size: 13px;
    padding-top: 40px;
    h3 {
      font-size: 14px;
      padding-bottom: 8px !important;
    }
  }
  @media (max-width: 340px) {
    .col-10 {
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  .i18nAboutMe1 {
    @media (max-width: 991px) {
      display: none;
    }
  }

  .btn {
    z-index: 1;
  }

  .text-scramble {
    padding-bottom: 20px;
    .blinker {
      animation: blinker 0.5s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
      @keyframes blinker {
        to {
          opacity: 0;
        }
      }
    }
  }

  .parallax-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .background,
    .ground,
    .me,
    .skill-svg {
      position: relative;
    }

    .skill-svg {
      filter: brightness(70%) !important;
    }

    .background {
      left: -160px;
    }

    .ground {
      left: -160px;
      top: 1810px;
    }

    .me {
      @media (max-width: 991px) {
        width: 300px;
        top: 1760px;
      }
      @media (min-width: 992px) and (max-width: 1199px) {
        width: 500px;
        left: 5px;
        top: 1595px;
      }
      @media (min-width: 1200px) and (max-width: 1399px) {
        width: 600px;
        left: 80px;
        top: 1525px;
      }
      @media (min-width: 1400px) {
        width: 800px;
        left: 50px;
        top: 1360px;
      }
    }

    .skill-svg {
      @media (max-width: 991px) {
        display: none;
      }
      @media (min-width: 992px) and (max-width: 1199px) {
        width: 70px;
      }
      @media (min-width: 1200px) and (max-width: 1399px) {
        width: 80px;
      }
      @media (min-width: 1400px) {
        width: 120px;
      }
    }

    .rust {
      @media (min-width: 992px) and (max-width: 1199px) {
        left: 600px;
        top: 1830px;
      }
      @media (min-width: 1200px) and (max-width: 1399px) {
        left: 800px;
        top: 1810px;
      }
      @media (min-width: 1200px) and (max-width: 1399px) {
        left: 800px;
        top: 1810px;
      }
      @media (min-width: 1400px) {
        left: 1100px;
        top: 1745px;
      }
    }

    .java {
      @media (min-width: 992px) and (max-width: 1199px) {
        left: 650px;
        top: 1815px;
      }
      @media (min-width: 1200px) and (max-width: 1399px) {
        left: 850px;
        top: 1800px;
      }

      @media (min-width: 1400px) {
        left: 1150px;
        top: 1745px;
      }
    }

    .js {
      @media (min-width: 992px) and (max-width: 1199px) {
        left: 700px;
        top: 1810px;
      }
      @media (min-width: 1200px) and (max-width: 1399px) {
        left: 900px;
        top: 1790px;
      }
      @media (min-width: 1400px) {
        left: 1200px;
        top: 1760px;
      }
    }
  }

  .go-down-container {
    position: absolute;
    left: 0;
    overflow: hidden;
    right: 0;
    margin: auto;

    .side {
      padding-bottom: 10px;
    }
    a {
      font-weight: 300;
      margin: 6px 16px 6px 16px;
      padding: 6px 30px 6px 30px;
      border-radius: 0px;
      img {
        padding: 10px 10px 10px 0px;
      }
    }

    @media (max-width: 991px) {
      bottom: 20px;
      .side {
        padding-bottom: 4px;
      }
      img {
        height: 50px;
      }
    }
    @media (min-width: 992px) and (max-width: 1399px) {
      bottom: 50px;
      img {
        height: 50px;
      }
    }
    @media (min-width: 1400px) {
      bottom: 80px;
      img {
        height: 70px;
      }
    }

    .vibrate {
      -webkit-animation: vibrate 0.6s linear both;
      animation: vibrate 0.6s linear both;
    }

    @keyframes vibrate {
      0% {
        -webkit-transform: translate(0);
        transform: translate(0);
      }
      10% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
      }
      20% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
      }
      30% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
      }
      40% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
      }
      50% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
      }
      60% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
      }
      70% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
      }
      80% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
      }
      90% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
      }
      100% {
        -webkit-transform: translate(0);
        transform: translate(0);
      }
    }
  }
}
