#contact {
  padding-bottom: 100px;

  input {
    margin-bottom: 6px;
  }

  input,
  textarea {
    font-weight: 300;
    border-radius: 0px;
  }

  .submit-button {
    padding: 6px 15px 0px 0px;
  }

  .parsley-errors-list {
    list-style-type: none;
    padding-left: 0px;
  }

  .parsley-errors-list li {
    margin-top: 10px;
    padding: 3px 0px 5px 0px;
    font-weight: 400;
  }

  .vibrate-button {
    animation: vibrate-button 0.3s linear infinite both;
  }

  @keyframes vibrate-button {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translate(-2px, 2px);
    }
    40% {
      transform: translate(-2px, -2px);
    }
    60% {
      transform: translate(2px, 2px);
    }
    80% {
      transform: translate(2px, -2px);
    }
    100% {
      transform: translate(0);
    }
  }
}
