#footer {
  padding-top: 64px;
  padding-bottom: 64px;
  overflow: hidden;

  .line {
    padding-bottom: 24px;
  }

  .icon {
    font-size: 32px;
    margin-right: 20px;
    position: relative;
    top: 4px;
    @media (max-width: 991px) {
      font-size: 28px;
      margin-right: 8px;
    }
  }

  .wrapper {
    position: absolute;
    width: 100%;

    .go-up {
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      width: 100px;
      bottom: 200px;
      font-size: 40px;
    }
  }
}
