.AboutMe {
  height: 100vh;

  &__foreground {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
  }

  &__text-scramble {
    display: flex;
    color: white;

    &--blinker {
      color: orange;
    }
  }

  &__text-container {
    &--block {
      margin-top: 20px;
    }
  }
}
