.AboutMe {
  height: 100vh;

  &__scene {
    &-container {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    &--background-img {
      left: -160px;
    }

    &--ground-img {
      left: -160px;
      top: 1810px;
    }

    &--me-img {
      width: 800px;
      left: 50px;
      top: 1360px;
    }

    &--rust-img {
      left: 1100px;
      top: 1745px;
    }

    &--java-img {
      left: 1150px;
      top: 1745px;
    }

    &--js-img {
      left: 1200px;
      top: 1760px;
    }

    &--background-img,
    &--ground-img,
    &--me-img,
    &--rust-img,
    &--java-img,
    &--js-img {
      position: relative;
    }

    &--rust-img,
    &--java-img,
    &--js-img {
      width: 120px;
    }
  }
}
