.container-fluid {
  padding-top: 40px;
}

#section1 {
  background-color: #9acfea;
}

#section2 {
  background-color: #b2dba1;
}

#section3 {
  background-color: #9acfea;
}

#section4 {
  background-color: #b2dba1;
}

body {
  background-color: #0f0f0f;
}
