body {
  background: #ffffff; 
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #0f0f0f; /* font color */
}

#section1, #section2, #section3, #section4 {
  background-color: #F7F7F7;
  padding-top: 40px;
}

/* style of gradient HR line */
hr.style-two {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(42, 171, 210, 0.75), rgba(0, 0, 0, 0));
    margin-right: 500px;
}

/* change font in H3 tag */
h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: 1px !important;  
}

/* add shadow to img-circle */
.img-circle-shadow {
  box-shadow: -5px 5px 5px rgba(42, 171, 210, 0.2);
}