{
  "plugins": [
    "react-hot-loader/babel"
  ],
  "presets": [
    "react",
    "env",
    "stage-2"
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    },
    "production": {
      "presets": [
        [
          "env",
          {
            "modules": false
          }
        ]
      ]
    }
  }
}