{
    "parser": "babel-eslint",
    "plugins": [],
    "rules": {
        "no-unused-vars": 1,
        "no-undef": 0,
        "no-console": 1
    },
    "extends": [
        "eslint:recommended"
    ],
    "env": {
        "browser": true
    }
}