{
  "parser": "babel-eslint",
  "plugins": [],
  "rules": {
    "no-unused-vars": 1,
    "no-undef": 0,
    "no-console": 1,
    "no-control-regex": 0
  },
  "extends": [
    "eslint:recommended"
  ],
  "env": {
    "browser": true
  }
}
