{
    "parser": "babel-eslint",
    "plugins": [
        "react"
    ],
    "rules": {
        "no-unused-vars": 1,
        "no-undef": 1
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ]
}