html {
  position: relative;
  min-height: 100%;
}

body {
  background: #ffffff; 
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #0f0f0f; /* font color */
  margin-bottom: 130px;
}

a {
  color: #006A8C;
}

a:hover {
  color: #2aabd2;
  text-decoration: none;
}

#blog {
  background-color: #F7F7F7;
  padding-top: 80px; 
  padding-bottom: 60px;
}

.blog-post {
  padding-bottom: 20px;
}

#section1 {
  background-color: #F7F7F7;
  padding-top: 80px; 
}

#section2, #section3, #section4 {
  background-color: #F7F7F7;
  padding-top: 60px;
}

#section4 {
  padding-bottom: 60px;
}

/* styles of gradient HR line */
hr.style-one {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(42, 171, 210, 0.75), rgba(0, 0, 0, 0));
  margin-right: 150px; 
  margin-left: 150px;
}
hr.style-two {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(42, 171, 210, 0.75), rgba(0, 0, 0, 0));
  margin-right: 500px;
}

/* change font in H3,H4 tags */
h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: 2px !important;  
  /* font-size: 3px; */
}
h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400; 
  letter-spacing: 1px !important;  
  /* font-size: 3px; */
}

/* add shadow to img-circle (my photo) */
.img-circle-shadow {
  box-shadow: -5px 5px 5px rgba(42, 171, 210, 0.2);
}

/* skills */
.circles {
  font-family: 'Roboto', sans-serif; 
  font-size: 16px;
  letter-spacing: 2px;
}
.skills-font {
    font-family: 'Roboto', sans-serif;  
    letter-spacing: 1px;
}

.test {
  background-color: pink !important;
}

