.navbar {
    background-color: var(--navbar-color);
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400; 
    height: 50px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar li a, 
  .navbar,
  .navbar-brand,
  .navbar-nav a:hover, a.active {
    color: var(--white-text-color) !important; 
    line-height: 35px;
  }
  
  .navbar-nav a:hover, a.active {
    background-color: var(--navbar-hover-color) !important;
    box-shadow: inset 0 -4px 0 0 var(--second-color);
  }
  
  .navbar-toggle {
     background-color: var(--white-text-color); 
  }
  
  .navbar-default,
  .navbar-toggle {
    border-color: var(--second-color); 
    color: white !important;  
  }
    
  .navbar-default,
  .navbar-toggle:hover {
    background-color: var(--second-color);
  }
  
  .navbar-default .navbar-toggle:focus {
    background-color: var(--white-text-color);
  }
  
  /* blink animation of '_' in logo */
  .blinker {
    animation: blinker 0.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
    color: var(--white-text-color);
  }
  @keyframes blinker { to { opacity: 0; } }
  
  .text {
    color: var(--second-color);
  }
  
