
.icon-mail:before { content: '\e800'; } /* '' */
.icon-up-open:before { content: '\e801'; } /* '' */
.icon-angle-double-up:before { content: '\f102'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-github-2:before { content: '\f113'; } /* '' */
.icon-terminal:before { content: '\f120'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */