<div class="container-fluid">

  <section class="timeline">
    <ul>
      <li>
        <div>
          <time>07.2017 - obecnie</time>
          <time>Software Developer</time>
          Simteract<br>Rzeszów
        </div>
      </li>
      <li>
        <div>
          <time>01.2017 - 07.2017</time>
          <time>CAD Designer - Freelancer</time>
          Samozatrudnienie<br>Rzeszów
        </div>
      </li>
      <li>
        <div>
          <time>07.2014 - 12.2016</time>
          <time>Mechanical Design Engineer</time>
          Red Rooster Poland<br>Kraków
        </div>
      </li>
      <li>
        <div>
          <time>01.2014 - 06.2014</time>
          <time>CAD Designer</time>
          Tadeusz Wędzony Firma Inżynierska<br>Kraków
        </div>
      </li>
      <li>
        <div>
          <time>2013 - 2014</time>
          <time>Politechnika Krakowska (mgr inż.)</time>
          Automatyka i robotyka<br>spec.: Technologie informacyjne w systemach produkcyjnych
        </div>
      </li>
      <li>
        <div>
          <time>2009 - 2013</time>
          <time>Politechnika Rzeszowska (inż.)</time>
          Mechatronika<br>spec.: Informatyka i robotyka
        </div>
      </li>
    </ul>
  </section>

</div>