<div class="container-fluid">
  <section class="timeline">
    <ul>
      <li>
        <div>
          <time class="job-date">07.2017 - obecnie</time>
          <time class="job-name">
            <span class="job-highlight">Software Developer</span> w Simteract - Rzeszów</time>
          <time class="job-desc">
            <i class="fa fa-circle"></i> symulacje, AI, game dev, R&D
            <br>
            <i class="fa fa-circle"></i> Rust, C#, Unity
          </time>
        </div>
      </li>
      <li>
        <div>
          <time class="job-date">01.2017 - 07.2017</time>
          <time class="job-name">
            <span class="job-highlight">CAD Designer</span> - Freelancer</time>
          <time class="job-desc">
            <i class="fa fa-circle"></i> projektowanie maszyn i urządzeń dla klientów indywidualnych oraz firm
          </time>
        </div>
      </li>
      <li>
        <div>
          <time class="job-date">07.2014 - 12.2016</time>
          <time class="job-name">
            <span class="job-highlight">Mechanical Design Engineer</span> w Red Rooster - Kraków</time>
          <time class="job-desc">
            <i class="fa fa-circle"></i> projektowanie maszyn i urządzeń dla branży Offshore
            <br>
            <i class="fa fa-circle"></i> modelowanie 3D w Inventor
            <br>
            <i class="fa fa-circle"></i> obliczenia wytrzymałościowe + MES
            <br>
            <i class="fa fa-circle"></i> wizualizacje 3D produktów w Autodesk Showcase i Adobe Photoshop
            <br>
            <i class="fa fa-circle"></i> animacje produktów w Adobe Premiere
          </time>
        </div>
      </li>
      <li>
        <div>
          <time class="job-date">01.2014 - 06.2014</time>
          <time class="job-name">
            <span class="job-highlight">CAD Designer</span> w T. Wędzony Firma Inż. - Kraków</time>
          <time class="job-desc">
            <i class="fa fa-circle"></i> projektowanie maszyn przemysłowych opartych o systemy wizyjne
            <br>
            <i class="fa fa-circle"></i> modelowanie 3D w SolidWorks
            <br>
            <i class="fa fa-circle"></i> obliczenia wytrzymałościowe
          </time>
        </div>
      </li>
      <li>
        <div>
          <time class="job-date">2013 - 2014</time>
          <time class="job-name">Politechnika Krakowska -
            <span class="job-highlight">mgr inż.</span>
          </time>
          <time class="job-desc">
            <i class="fa fa-circle"></i> kier. Automatyka i robotyka
            <br>
            <i class="fa fa-circle"></i> spec. Technologie informacyjne w systemach produkcyjnych
          </time>
        </div>
      </li>
      <li>
        <div>
          <time class="job-date">2009 - 2013</time>
          <time class="job-name">Politechnika Rzeszowska -
            <span class="job-highlight">inż.</span>
          </time>
          <time class="job-desc">
            <i class="fa fa-circle"></i> kier. Mechatronika
            <br>
            <i class="fa fa-circle"></i> spec. Informatyka i robotyka
          </time>
        </div>
      </li>
    </ul>
  </section>

</div>