<div class="container-fluid">

  <section class="timeline">
    <ul>
      <li>
        <div>
          <time class="job-date">07.2017 - obecnie</time>
          <time class="job-name"><span class="job-highlight">Software Developer</span> w Simteract - Rzeszów</time>
          <time class="job-desc">
            -game development
            <br>-AI
            <br>-symulacje
          </time>
        </div>
      </li>
      <li>
        <div>
          <time class="job-date">01.2017 - 07.2017</time>
          <time class="job-name"><span class="job-highlight">CAD Designer</span> - Freelancer</time>
          <time class="job-desc">
            Projektowanie maszyn i urzązdeń dla klientów indywidualnych oraz firm
          </time>
        </div>
      </li>
      <li>
        <div>
          <time class="job-date">07.2014 - 12.2016</time>
          <time class="job-name"><span class="job-highlight">Mechanical Design Engineer</span> w Red Rooster - Kraków</time>
          <time class="job-desc">
            -projektowanie maszyn i urządzeń dla branży Offshore
            <br>-modelowanie 3D w Inventor
            <br>-obliczenia wytrzymałościowe + MES
            <br>-wizualizacje 3D produktów w Autodesk Showcase i Adobe Photoshop
            <br>-animacje produktów w Adobe Premiere
          </time>
        </div>
      </li>
      <li>
        <div>
          <time class="job-date">01.2014 - 06.2014</time>
          <time class="job-name"><span class="job-highlight">CAD Designer</span> w "T. Wędzony Firma Inż." - Kraków</time>
          <time class="job-desc">
            -projektowanie maszyn przemysłowych opartych o systemy wizyjne
            <br>-modelowanie 3D w SolidWorks
            <br>-obliczenia wytrzymałościowe
          </time>
        </div>
      </li>
      <li>
        <div>
          <time class="job-date">2013 - 2014</time>
          <time class="job-name"><span class="job-highlight">Mgr inż.</span> - Politechnika Krakowska</time>
          <time class="job-desc">
            kier.: Automatyka i robotyka
            <br>spec.: Technologie informacyjne w systemach produkcyjnych
          </time>
        </div>
      </li>
      <li>
        <div>
          <time class="job-date">2009 - 2013</time>
          <time class="job-name"><span class="job-highlight">Inż.</span> - Politechnika Rzeszowska</time>
          <time class="job-desc">
            kier.: Mechatronika
            <br>spec.: Informatyka i robotyka
          </time>
        </div>
      </li>
    </ul>
  </section>

</div>