.Button {
  display: inline-flex;

  &__Standard {
    &--link {
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 1px;
      text-decoration: none;
      padding: 8px 24px;
      cursor: pointer;

      &:visited {
        color: inherit;
      }
    }

    &--Light {
      background-color: #dadfe1;
      color: #000;

      &:active,
      &:hover,
      &:focus {
        background-color: #da0600;
        color: #fff;
      }
    }

    &--Dark {
      background-color: #777;
      color: #f5f5f5;

      &:active,
      &:hover,
      &:focus {
        background-color: orange;
        color: #000;
      }
    }
  }
}
