<div class="container-fluid">
  <div class="cards-first-row row">
    <div class="card col-xs-4 mx-auto">
      <img class="card-img-top" src="../../assets/images/sticky-notes.JPG">
      <div class="card-block container-fluid text-center">
        <hr class="style-three">
        <h4 class="card-title">Sticky Notes</h4>
        <p class="card-text">RESTful secured web service for manage to-do notes and users + Android Client</p>
        <p class="card-text">RESTful secured web service for manage to-do notes and users + Android Client</p>
        <a target="_blank" href="https://github.com/twistezo/StickyNotes" class="btn btn-primary">Web</a>
        <a target="_blank" href="https://github.com/twistezo/sticky-notes-android-client" class="btn btn-primary">Android</a>
      </div>
    </div>
    <div class="card col-xs-4 mx-auto">

      <img class="card-img-top" src="../../assets/images/car-rental.JPG">
      <div class="card-block container-fluid text-center">
        <hr class="style-three">
        <h4 class="card-title">Car Rental</h4>
        <p class="card-text">Web service for a car rental company</p>
        <a target="_blank" href="https://github.com/twistezo/Car-Rental" class="btn btn-primary">Więcej</a>
      </div>
    </div>
    <div class="card col-xs-4 mx-auto">

      <img class="card-img-top" src="../../assets/images/ninja-vs-zombie.JPG">
      <div class="card-block container-fluid text-center">
        <hr class="style-three">
        <h4 class="card-title">Ninja vs Zombie</h4>
        <p class="card-text">Android/desktop 2d platform fully animated game</p>
        <a target="_blank" href="https://github.com/twistezo/ninja-vs-zombie" class="btn btn-primary">Więcej</a>
      </div>
    </div>
  </div>
  <div class="cards-second-row row">
    <div class="card col-xs-4 mx-auto">
      <img class="card-img-top" src="../../assets/images/simteract.JPG">
      <div class="card-block container-fluid text-center">
        <hr class="style-three">
        <h4 class="card-title">Traffic AI&trade;</h4>
        <p class="card-text">One of best project in professional work</p>
        <a target="_blank" href="http://simteract.com/" class="btn btn-primary">Więcej</a>
      </div>
    </div>
    <div class="card col-xs-4 mx-auto">
      <img class="card-img-top" src="../../assets/images/book-downloader.JPG">
      <div class="card-block container-fluid text-center">
        <hr class="style-three">
        <h4 class="card-title">Book Downloader</h4>
        <p class="card-text">Automatic tool for downloading packtpub.com daily free e-book (PDF, ePub)</p>
        <a target="_blank" href="https://github.com/twistezo/book-downloader" class="btn btn-primary">Więcej</a>
      </div>
    </div>
    <div class="card col-xs-4 mx-auto">
      <img class="card-img-top" src="../../assets/images/java-learning-notes.JPG">
      <div class="card-block container-fluid text-center">
        <hr class="style-three">
        <h4 class="card-title">Java Learning Notes</h4>
        <p class="card-text">Desktop sticky notes with java questions for learning</p>
        <a target="_blank" href="https://github.com/twistezo/java-learning-notes" class="btn btn-primary">Więcej</a>
      </div>
    </div>

  </div>
</div>