<div class="container-fluid">
  <div class="card-deck">
    <div class="card text-center">
      <div class="ribbon ribbon-blue">
        <span>nauka</span>
      </div>
      <img class="card-img-top" src="assets/images/p1.png">
      <div class="card-body ">
        <hr class="style-three">
        <h4 class="card-title">Sticky Notes</h4>
        <p class="card-text">RESTfulowy web serwis do zarządzania notatkami i ich użytkownikami + klient na Androida</p>
      </div>
      <div class="card-footer">
        <a target="_blank" rel="noopener" href="https://github.com/twistezo/sticky-notes" class="btn btn-primary" style="margin-right:10px;">Web</a>
        <a target="_blank" rel="noopener" href="https://github.com/twistezo/sticky-notes-android-client" class="btn btn-primary">Android</a>
      </div>
    </div>
    <div class="card text-center">
      <div class="ribbon ribbon-blue">
        <span>nauka</span>
      </div>
      <img class="card-img-top" src="assets/images/p2.png">
      <div class="card-body">
        <hr class="style-three">
        <h4 class="card-title">Car Rental</h4>
        <p class="card-text">Web serwis dla wypożyczalni samochodów</p>
      </div>
      <div class="card-footer">
        <a target="_blank" rel="noopener" href="https://github.com/twistezo/car-rental" class="btn btn-primary">Więcej</a>
      </div>
    </div>
    <div class="card text-center">
      <div class="ribbon ribbon-orange ">
        <span>pasja</span>
      </div>
      <img class="card-img-top" src="assets/images/p3.png">
      <div class="card-body">
        <hr class="style-three">
        <h4 class="card-title">Ninja vs Zombie</h4>
        <p class="card-text">Animowana gra 2D - Android/Desktop</p>
      </div>
      <div class="card-footer">
        <a target="_blank" rel="noopener" href="https://github.com/twistezo/ninja-vs-zombie" class="btn btn-primary">Więcej</a>
      </div>
    </div>
  </div>
  <div class="card-deck">
    <div class="card text-center">
      <div class="ribbon ribbon-orange ">
        <span>pasja</span>
      </div>
      <img class="card-img-top" src="assets/images/p7.png">
      <div class="card-body">
        <hr class="style-three">
        <h4 class="card-title">Little Big Web Service</h4>
        <p class="card-text">Zarys web serwisu w React + Firebase</p>
        <p class="card-text">w trakcie..</p>
      </div>
      <div class="card-footer">
        <a target="_blank" rel="noopener" href="https://github.com/twistezo/little-big-web-service" class="btn btn-primary">Więcej</a>
      </div>
    </div>
    <div class="card text-center">
      <div class="ribbon ribbon-black">
        <span>praca</span>
      </div>
      <img class="card-img-top" src="assets/images/p4.jpg">
      <div class="card-body">
        <hr class="style-three">
        <h4 class="card-title">Traffic AI&trade;</h4>
        <p class="card-text">Jeden z moich zawodowych projektów</p>
      </div>
      <div class="card-footer">
        <a target="_blank" rel="noopener" href="http://simteract.com/" class="btn btn-primary">Więcej</a>
      </div>
    </div>
    <div class="card text-center">
      <div class="ribbon ribbon-orange ">
        <span>pasja</span>
      </div>
      <img class="card-img-top" src="assets/images/p8.png">
      <div class="card-body">
        <hr class="style-three">
        <h4 class="card-title">My Blockchain</h4>
        <p class="card-text">Implementacja blockchaina w Javie</p>
      </div>
      <div class="card-footer">
        <a target="_blank" rel="noopener" href="https://github.com/twistezo/my-blockchain" class="btn btn-primary">Więcej</a>
      </div>
    </div>
  </div>
  <div class="card-deck">
    <div class="card text-center">
      <div class="ribbon ribbon-orange ">
        <span>pasja</span>
      </div>
      <img class="card-img-top" src="assets/images/p6.png">
      <div class="card-body">
        <hr class="style-three">
        <h4 class="card-title">Java Learning Notes</h4>
        <p class="card-text">Przyklejane na pulpit notatki do nauki Javy</p>
      </div>
      <div class="card-footer">
        <a target="_blank" rel="noopener" href="https://github.com/twistezo/java-learning-notes" class="btn btn-primary">Więcej</a>
      </div>
    </div>
    <div class="card text-center">
      <div class="ribbon ribbon-orange ">
        <span>pasja</span>
      </div>
      <img class="card-img-top" src="assets/images/p5.png">
      <div class="card-body">
        <hr class="style-three">
        <h4 class="card-title">Book Downloader</h4>
        <p class="card-text">Narzędzie do automatycznego pobierania codziennych darmowych książek z packtub.com - PDF, ePub</p>
      </div>
      <div class="card-footer">
        <a target="_blank" rel="noopener" href="https://github.com/twistezo/book-downloader" class="btn btn-primary">Więcej</a>
      </div>
    </div>
    <div class="card text-center">
      <div class="ribbon ribbon-orange ">
        <span>pasja</span>
      </div>
      <img class="card-img-top" src="assets/images/p9.png">
      <div class="card-body">
        <hr class="style-three">
        <h4 class="card-title">Portfolio</h4>
        <p class="card-text">Kod źródłowy strony, którą właśnie przeglądasz</p>
      </div>
      <div class="card-footer">
        <a target="_blank" rel="noopener" href="https://github.com/twistezo/portfolio" class="btn btn-primary">Więcej</a>
      </div>
    </div>
  </div>
</div>