<div id="section1" class="container-fluid">
	<div class="row">
		<div class="col-sm-10 col-lg-7 mx-auto">
			<div class="alert alert-success text-center" *ngIf="authService.user | async">
				<h4 class="mb-0">
					Jesteś zalogowany jako
					<span style="font-weight: bold">
						{{ (authService.user | async)?.email }} !
					</span>
					<p class="pt-2 mb-0">
						Ilość wiadomości
						<span class="badge badge-warning">{{ (dashboardContactComponent.messages$ | async)?.length }}</span>
					</p>
				</h4>
			</div>
			<h3>O mnie</h3>
			<div class="row mt-5">
				<div class="col-sm-8">
					<div class="text-justify">
						<h4 style="text-align: left !important;">Lorem ipsum</h4>
						<p class="pt-2">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						</p>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris in velit tellus. Morbi ut
							sollicitudin risus. Curabitur a consectetur tellus. In hac habitasse platea dictumst. Duis
							elit libero, eleifend et auctor a, imperdiet a ipsum. Nullam interdum metus non aliquet
							dapibus. Integer finibus, mauris eu sodales venenatis, nunc justo finibus odio, id rutrum
							dolor turpis ac augue. Ut tempus rhoncus nibh, ac feugiat ex dapibus in. Interdum et
							malesuada fames ac ante ipsum primis in faucibus. Nam ornare, lacus sit amet vulputate
							suscipit, diam ligula vehicula tellus, non pretium nisl tellus quis neque. Nunc eget justo
							vel metus convallis luctus. Vestibulum pretium ex et ornare lobortis. Curabitur et mollis
							nunc. Ut eget egestas eros. Fusce eget sodales metus.
						</p>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris in velit tellus. Morbi ut
							sollicitudin risus. Curabitur a consectetur tellus. In hac habitasse platea dictumst. Duis
							elit libero, eleifend et auctor a, imperdiet a ipsum. Nullam interdum metus non aliquet
							dapibus. Integer finibus, mauris eu sodales venenatis, nunc justo finibus odio, id rutrum
							dolor turpis ac augue. Ut tempus rhoncus nibh, ac feugiat ex dapibus in. Interdum et
							malesuada fames ac ante ipsum primis in faucibus. Nam ornare, lacus sit amet vulputate
							suscipit, diam ligula vehicula tellus, non pretium nisl tellus quis neque. Nunc eget justo
							vel metus convallis luctus. Vestibulum pretium ex et ornare lobortis. Curabitur et mollis
							nunc. Ut eget egestas eros. Fusce eget sodales metus.
						</p>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="mx-auto">
						<img src="assets/images/me.jpg" class="my-photo">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.5}'>
	<img class="jarallax-img" src="assets/images/header.jpg" alt="">
</div>
<div id="section2" class="container-fluid">
	<div class="row">
		<div class="col-sm-10 col-lg-7 mx-auto">
			<h3 class="pb-5">Umiejętności
				<p style="font-size: 11px; padding-top: 5px;">
					<span style="color: var(--important-lvl-3)">*wg. często</span><span style="color: var(--important-lvl-2)">tliwośći
						uż</span><span style="color: var(--important-lvl-1)">ywania</span>
				</p>
			</h3>
			<div class="row pb-4">
				<div class="col-sm-2 mx-auto skill-logo">
					<img src="../../assets/images/rust.svg" class="skill-svg">
				</div>
				<div class="col-sm-2 mx-auto skill-logo">
					<div class="skill-logo">
						<img src="../../assets/images/java.svg">
					</div>
				</div>
				<div class="col-sm-2 mx-auto skill-logo">
					<div class="skill-logo">
						<img src="../../assets/images/js.svg">
					</div>
				</div>
				<div class="col-sm-2 mx-auto skill-logo">
					<div class="skill-logo">
						<img src="../../assets/images/android.svg">
					</div>
				</div>
				<div class="col-sm-2 mx-auto skill-logo">
					<div class="skill-logo">
						<img src="../../assets/images/ps.svg">
					</div>
				</div>
			</div>
			<hr class="style-one">
			<div class="row skills-font pb-1 pt-4 text-center">
				<div class="col-sm-6">
					<h4>Lorem ipsum</h4>
					<p>
						<span style="color: var(--important-lvl-3)">Lorem,</span>
						<span style="color: var(--important-lvl-2)">Lorem, Lorem</span>
						<span style="color: var(--important-lvl-1)">Lorem, Lorem</span>
					</p>
				</div>
				<div class="col-sm-6">
					<h4>Lorem ipsum</h4>
					<p>
						<span style="color: var(--important-lvl-3)">Lorem, Lorem, Lorem,</span>
						<span style="color: var(--important-lvl-2)">Lorem</span>
						<span style="color: var(--important-lvl-1)">Lorem, Lorem</span>
					</p>
				</div>
			</div>
			<div class="row skills-font pb-1 text-center">
				<div class="col-sm-6">
					<h4>Lorem ipsum</h4>
					<p>
						<span style="color: var(--important-lvl-3)">Lorem, Lorem,</span>
						<span style="color: var(--important-lvl-2)">Lorem,</span>
						<span style="color: var(--important-lvl-1)">Lorem</span>
					</p>
				</div>
				<div class="col-sm-6">
					<h4>Lorem ipsum</h4>
					<p>
						<span style="color: var(--important-lvl-3)">Lorem, Lorem,</span>
						<span style="color: var(--important-lvl-2)">Lorem</span>
					</p>
				</div>
			</div>
			<div class="row skills-font pb-1 text-center">
				<div class="col-sm-6">
					<h4>Lorem ipsum</h4>
					<p>
						<span style="color: var(--important-lvl-3)">Lorem,</span>
						<span style="color: var(--important-lvl-2)">Lorem,</span>
						<span style="color: var(--important-lvl-1)">Lorem</span>
					</p>
				</div>
				<div class="col-sm-6">
					<h4>Lorem ipsum</h4>
					<p>
						<span style="color: var(--important-lvl-3)">Lorem,</span>
						<span style="color: var(--important-lvl-1)">Lorem</span>
					</p>
				</div>
			</div>
			<div class="row skills-font pb-1 text-center">
				<div class="col-sm-12">
					<h4>Lorem ipsum</h4>
					<p>
						<span style="color: var(--important-lvl-3)">Lorem, Lorem, Lorem,</span>
						<span style="color: var(--important-lvl-2)">Lorem, Lorem, Lorem,</span>
						<span style="color: var(--important-lvl-1)">Lorem, Lorem</span>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.5}'>
	<img class="jarallax-img" src="assets/images/keyboard.jpg" alt="">
</div>
<div id="section3" class="container-fluid">
	<div class="row">
		<div class="col-sm-10 col-lg-7 mx-auto">
			<h3 class="pb-5">Doświadczenie</h3>
			<app-experience>
				<div class="centered-element">
					<div class="loader"></div>
				</div>
			</app-experience>
		</div>
	</div>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.5}'>
	<img class="jarallax-img" src="assets/images/code.jpg" alt="">
</div>
<div id="section4" class="container-fluid">
	<div class="row">
		<div class="col-sm-10 col-lg-8 col-xl-7 mx-auto">
			<h3 class="pb-5">Projekty</h3>
			<app-projects>
				<div class="centered-element">
					<div class="loader"></div>
				</div>
			</app-projects>
		</div>
	</div>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.5}'>
	<img class="jarallax-img" src="assets/images/motherboard.jpg" alt="">
</div>
<div id="section5" class="container-fluid">
	<div class="row">
		<div class="col-sm-10 col-lg-7 mx-auto">
			<h3 class="pb-5">Kontakt</h3>
			<app-form>
				<div class="centered-element">
					<div class="loader"></div>
				</div>
			</app-form>
		</div>
	</div>
</div>