<div id="section1" class="container-fluid">
  <div class="row">
    <div class="col-lg-7 mx-auto">
      <h3 style="padding-bottom: 0px !important;">O mnie</h3>
      <div class="row my-photo-row">
        <div class="mx-auto">
          <img src="assets/images/me-1.jpg" class="my-photo">
        </div>
      </div>
      <div class="row">
        <div class="mx-auto">
          <h4>Z pasji i zamiłowania twórca aplikacji desktopowych, webowych oraz mobilnych.</h4>
          <p style="padding-top: 15px;">
            Odwiedź mój profil na
            <a href="http://www.linkedin.com/in/lukaszkolko/" target="_blank">LinkedIn</a>. Znajdziesz tam m.in. moje doświadczenie
            zawodowe oraz przebieg edukacji.
          </p>
          <p>
            Poniżej kilka wybranch projektów w różnych technologiach. Każdy z nich posiada odnośnik do GitHuba, gdzie znajdziesz szczegółowy
            opis oraz kod źródłowy.
          </p>
          <p>Sprawdź również moje pozostałe projekty na
            <a href="http://github.com/twistezo" target="_blank">GitHubie</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Container (Skills Section) -->
<div id="section2" class="container-fluid bg-light">
  <div class="row">
    <div class="col-lg-7 mx-auto">
      <h3>Umiejętności</h3>
      <div class="row circles">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 mx-auto">
          <div id="circle-java"></div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 mx-auto">
          <div id="circle-rust"></div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 mx-auto">
          <div id="circle-web"></div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 mx-auto">
          <div id="circle-mobile"></div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 mx-auto">
          <div id="circle-graphics"></div>
        </div>
      </div>
      <br>
      <hr class="style-one">
      <div class="row skills-font" style="text-align: center">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
          <h4>Back-end</h4>
          <p>Rust, Java, Spring, Hibernate, Thymeleaf, libGDX</p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <h4>Testy</h4>
          <p>JUnit, Mockito, Selenium</p>
        </div>
      </div>
      <div class="row skills-font" style="text-align: center">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <h4>Front-end</h4>
          <p>HTML, CSS, Bootstrap, JavaScript, Angular</p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <h4>OS</h4>
          <p>Windows, Linux, Android</p>
        </div>
      </div>
      <div class="row skills-font" style="text-align: center">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <h4>Narzędzia</h4>
          <p>SQL, Maven, Gradle, Git, npm, Firebase</p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <h4>Grafika</h4>
          <p>Adobe Photoshop, Adobe Premiere</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Container (Test Section) -->
<div id="section3" class="container-fluid">
  <div class="row">
    <div class="col-lg-7 mx-auto">
      <h3>Projekty</h3>
      <app-projects>Loading..</app-projects>
    </div>
  </div>
</div>

<!-- Container (Test Section) -->
<div id="section4" class="container-fluid bg-light">
  <div class="row">
    <div class="col-lg-7 mx-auto">
      <h3>Kontakt</h3>
      <app-form></app-form>
    </div>
  </div>
</div>