<div id="section1" class="container-fluid">
	<div class="row">
		<div class="col-sm-10 col-lg-7 mx-auto">
			<div class="alert alert-success text-center" *ngIf="authService.user | async">
				<h4 class="mb-0">
					Jesteś zalogowany jako
					<span style="font-weight: bold">
						{{ (authService.user | async)?.email }} !
					</span>
					<p class="pt-2 mb-0">
						Ilość wiadomości
						<span class="badge badge-warning">{{ (dashboardContactComponent.messages$ | async)?.length }}</span>
					</p>
				</h4>
			</div>
			<h3>O mnie</h3>
			<div class="row mt-5">
				<div class="col-sm-8">
					<div class="text-justify">
						<h4 style="text-align: left !important;">Z pasji i zamiłowania twórca oprogramowania</h4>
						<p class="pt-2">
							Znajdziesz tutaj krótkie podsumowanie moich umiejętności, używanych przeze mnie narzędzi, wybrane projekty oraz przebieg
							edukacji i kariery zawodowej.
						</p>
						<p>
							Każdy projekt posiada odnośnik do GitHuba, gdzie znajdziesz szczegółowy opis oraz kod źródłowy.
						</p>
						<p>
							W technikum oraz na studiach miałem styczność z Asemblerem, C, C++, MATLAB, JavaScript, HTML, CSS, programowaniem mikrokontrolerów
							oraz sterowników PLC. Później pracując przez prawie cztery lata jako projektant maszyn i urządzeń w między czasie
							hobbystycznie uczyłem się programowania. Wszedłem w świat Javy, Springa,
							<a href="https://pl.wikipedia.org/wiki/Programowanie_obiektowe" target="_blank" rel="noopener">OOP</a>
							i zaraziłem się tym na tyle mocno, że postanowiłem się przebranżowić.
						</p>
						<p>
							Obecnie zawodowo używam głównie technologii związanych z językiem
							<a href="https://www.rust-lang.org/pl-PL/" target="_blank" rel="noopener">Rust</a> (symulacje, AI, game dev -
							<a href="https://unity3d.com/" target="_blank" rel="noopener">Unity</a>,
							<a href="https://pl.wikipedia.org/wiki/Programowanie_funkcyjne" target="_blank" rel="noopener">FP</a>), a w wolnych chwilach siedzę w Web devie - technologiach związanych z JavaScript oraz w Javie.
						</p>
						<p>
							Staram się dotykać wielu języków i technologii oraz być na bieżąco z nowinkami w świecie IT.
						</p>
						<p>Sprawdź również moje pozostałe projekty na
							<a href="https://github.com/twistezo" target="_blank" rel="noopener">GitHubie</a>.
						</p>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="mx-auto">
						<img src="assets/images/me.jpg" class="my-photo">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.5}'>
	<img class="jarallax-img" src="assets/images/header.jpg" alt="">
</div>
<div id="section2" class="container-fluid">
	<div class="row">
		<div class="col-sm-10 col-lg-7 mx-auto">
			<h3 class="pb-5">Umiejętności</h3>
			<div class="row pb-4">
				<div class="col-sm-2 mx-auto skill-logo">
					<img src="../../assets/images/rust.svg" class="skill-svg">
				</div>
				<div class="col-sm-2 mx-auto skill-logo">
					<div class="skill-logo">
						<img src="../../assets/images/java.svg">
					</div>
				</div>
				<div class="col-sm-2 mx-auto skill-logo">
					<div class="skill-logo">
						<img src="../../assets/images/js.svg">
					</div>
				</div>
				<div class="col-sm-2 mx-auto skill-logo">
					<div class="skill-logo">
						<img src="../../assets/images/android.svg">
					</div>
				</div>
				<div class="col-sm-2 mx-auto skill-logo">
					<div class="skill-logo">
						<img src="../../assets/images/ps.svg">
					</div>
				</div>
			</div>
			<hr class="style-one">
			<div class="row skills-font pb-1 pt-4 text-center">
				<div class="col-sm-6">
					<h4>Back-end + DB</h4>
					<p>Rust, Java, Spring + SQL, Firebase, Hibernate</p>
				</div>
				<div class="col-sm-6">
					<h4>Testy</h4>
					<p>UT, integracyjne, TDD</p>
				</div>
			</div>
			<div class="row skills-font pb-1 text-center">
				<div class="col-sm-6">
					<h4>Front-end</h4>
					<p>HTML, CSS, Bootstrap, JavaScript, Angular, React</p>
				</div>
				<div class="col-sm-6">
					<h4>OS</h4>
					<p>Windows, Linux, Android</p>
				</div>
			</div>
			<div class="row skills-font pb-1 text-center">
				<div class="col-sm-6">
					<h4>Narzędzia</h4>
					<p>Unity, Maven, Gradle, Git, npm, Yarn, Webpack, Gulp, Bower, Travis</p>
				</div>
				<div class="col-sm-6">
					<h4>Grafika</h4>
					<p>Adobe Photoshop, Adobe Premiere</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.5}'>
	<img class="jarallax-img" src="assets/images/keyboard.jpg" alt="">
</div>
<div id="section3" class="container-fluid">
	<div class="row">
		<div class="col-sm-10 col-lg-7 mx-auto">
			<h3 class="pb-5">Doświadczenie</h3>
			<app-experience>
				<div class="centered-element">
					<div class="loader"></div>
				</div>
			</app-experience>
		</div>
	</div>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.5}'>
	<img class="jarallax-img" src="assets/images/code.jpg" alt="">
</div>
<div id="section4" class="container-fluid">
	<div class="row">
		<div class="col-sm-10 col-lg-8 col-xl-7 mx-auto">
			<h3 class="pb-5">Projekty</h3>
			<app-projects>
				<div class="centered-element">
					<div class="loader"></div>
				</div>
			</app-projects>
		</div>
	</div>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.5}'>
	<img class="jarallax-img" src="assets/images/motherboard.jpg" alt="">
</div>
<div id="section5" class="container-fluid">
	<div class="row">
		<div class="col-sm-10 col-lg-7 mx-auto">
			<h3 class="pb-5">Kontakt</h3>
			<app-form>
				<div class="centered-element">
					<div class="loader"></div>
				</div>
			</app-form>
		</div>
	</div>
</div>