<div class="parallax-container">
  <div id="scene">
    <div data-depth="0.4">
      <img class="background" src="../images/parallax-background.jpg" />
    </div>
    <div data-depth="0.3">
      <img class="skill-svg rust" src="../images/rust.svg" />
      <img class="skill-svg java" src="../images/java.svg" />
      <img class="skill-svg js" src="../images/js.svg" />
    </div>
    <div data-depth="0.2">
      <img class="ground" src="../images/parallax-ground.png" />
    </div>
    <div data-depth="0.1">
      <img class="me" src="../images/parallax-me.png" />
    </div>
  </div>
</div>
<div class="row text-justify">
  <div class="col-1 col-sm-1 col-lg-4 col-xl-6"></div>
  <div class="col-10 col-sm-10 col-lg-7 col-xl-5">
    <h3 class="text-scramble d-flex" data-aos="fade-down">
      <span class="blinker">_</span>
      <span class="textScramble"></span>
    </h3>
    <div data-aos="fade-left">
      <p class="i18nAboutMe0"></p>
      <p class="i18nAboutMe1"></p>
      <p class="i18nAboutMe2"></p>
      <p class="i18nAboutMe3"></p>
    </div>
  </div>
  <div class="col-1 col-sm-1 col-lg-1 col-xl-1" data-aos="fade-left"></div>
</div>
<div class="go-down-container d-flex flex-column">
  <div class="row d-flex align-content-center justify-content-center">
    <span class="i18nAboutMe5 side"></span>
  </div>
  <div class="row">
    <div class="col d-flex align-content-center justify-content-center">
      <a href="#skills" id="light-mode-btn" class="btn">
        <img class="jarallax-img" src="../images/r2d2.svg" alt="" />
        <span class="i18nAboutMe6"></span>
      </a>
      <a href="#skills" id="dark-mode-btn" class="btn">
        <img class="jarallax-img" src="../images/vader.svg" alt="" />
        <span class="i18nAboutMe7"></span>
      </a>
    </div>
  </div>
</div>
