<div class="parallax-container">
  <div id="scene">
    <div data-depth="0.3">
      <img class="parallax-ground" src="../images/parallax-ground.png" />
    </div>
    <div data-depth="0.1">
      <img class="parallax-me" src="../images/parallax-me.png" />
    </div>
  </div>
</div>
<div class="text-center">
  <div class="row">
    <div class="col-sm-6">
    </div>
    <div class="col-sm-5 text-left">
      <div class="text-scramble text-left pb-5" data-aos="fade-down">
        <span class="blinker">_</span>
        <span class="textScramble"></span>
      </div>
      <div class="" data-aos="fade-left">
        <p>
          Znajdziesz tutaj krótkie podsumowanie moich umiejętności, używanych przeze mnie narzędzi, wybrane projekty oraz przebieg
          edukacji i kariery zawodowej.
        </p>
        <p>
          Każdy projekt posiada odnośnik do GitHuba, gdzie znajdziesz szczegółowy opis oraz kod źródłowy.</p>
        <p>
          W technikum oraz na studiach miałem styczność z Asemblerem, C, C++, MATLAB, JavaScript, HTML, CSS, programowaniem mikrokontrolerów
          oraz sterowników PLC. Później pracując przez prawie cztery lata jako projektant maszyn i urządzeń w między czasie
          hobbystycznie uczyłem się programowania. Wszedłem w świat Javy, Springa,
          <a href="https://pl.wikipedia.org/wiki/Programowanie_obiektowe" target="_blank" rel="noopener noreferrer">OOP</a> i zaraziłem się tym na tyle mocno, że postanowiłem się przebranżowić.
        </p>
        <p>
          Obecnie zawodowo używam głównie technologii związanych z językiem
          <a href="https://www.rust-lang.org/pl-PL/" target="_blank" rel="noopener noreferrer">Rust</a> (symulacje, AI, game dev -
          <a href="https://unity3d.com/" target="_blank" rel="noopener noreferrer">Unity</a>,
          <a href="https://pl.wikipedia.org/wiki/Programowanie_funkcyjne" target="_blank" rel="noopener noreferrer">FP</a>), a w wolnych chwilach siedzę w Web devie - technologiach związanych z JavaScript oraz w Javie.
        </p>
        <p>
          Staram się dotykać wielu języków i technologii oraz być na bieżąco z nowinkami w świecie IT.
        </p>
        <p>
          Sprawdź również moje pozostałe projekty na
          <a href="https://github.com/twistezo" target="_blank" rel="noopener noreferrer">GitHubie</a>.
        </p>
      </div>
    </div>
    <div class="col-sm-1" data-aos="fade-left">
    </div>
  </div>
</div>
<a href="#skills" class="button-jump-to-next-section" role="button">
  <div class="chevron"></div>
  <div class="chevron"></div>
  <div class="chevron"></div>
</a>
</div>
