<div class="parallax-container">
  <div id="scene">
    <div data-depth="0.4">
      <img class="parallax-background" src="../images/parallax-background.jpg" />
    </div>
    <div data-depth="0.3">
      <img class="parallax-skill-svg rust" src="../images/rust.svg">
      <img class="parallax-skill-svg java" src="../images/java.svg">
      <img class="parallax-skill-svg js" src="../images/js.svg">
      <img class="parallax-skill-svg android" src="../images/android.svg">
      <img class="parallax-skill-svg ps" src="../images/ps.svg">
    </div>
    <div data-depth="0.2">
      <img class="parallax-ground" src="../images/parallax-ground.png" />
    </div>
    <div data-depth="0.1">
      <img class="parallax-me" src="../images/parallax-me.png" />
    </div>
  </div>
</div>
<div class="text-center">
  <div class="row">
    <div class="col-0 col-sm-1 col-xl-6">
    </div>
    <div class="col-12 col-sm-10 col-xl-5 text-left">
      <div class="text-scramble text-left pb-3" data-aos="fade-down">
        <span class="blinker">_</span>
        <span class="textScramble"></span>
      </div>
      <div class="" data-aos="fade-left">
        <p>
          Znajdziesz tutaj krótkie podsumowanie moich umiejętności, używanych przeze mnie narzędzi, wybrane projekty oraz przebieg
          edukacji i kariery zawodowej.
        </p>
        <p>
          Każdy projekt posiada odnośnik do GitHuba, gdzie znajdziesz szczegółowy opis oraz kod źródłowy.</p>
        <p>
          W technikum oraz na studiach miałem styczność z Asemblerem, C, C++, MATLAB, JavaScript, HTML, CSS, programowaniem mikrokontrolerów
          oraz sterowników PLC. Później pracując przez cztery lata jako projektant maszyn i urządzeń w między czasie
          hobbystycznie programowałem. Wszedłem w świat Javy, Springa, OOP i zaraziłem się tym na tyle mocno,
          że postanowiłem się przebranżowić.
        </p>
        <p>
          Obecnie zawodowo używam głównie technologii związanych z językiem Rust (symulacje, AI, game dev), a w wolnych chwilach siedzę
          w Web devie - technologiach związanych z JavaScript oraz w Javie.
        </p>
        <p>
          Staram się dotykać wielu języków i technologii oraz być na bieżąco z nowinkami w świecie IT.
        </p>
      </div>
    </div>
    <div class="col-0 col-sm-1 col-xl-1" data-aos="fade-left">
    </div>
  </div>
</div>
<a href="#skills" role="button">
  <div class="go-down-fake-container">
  </div>
  <div class="go-down">
    <div class="chevron"></div>
    <div class="chevron"></div>
    <div class="chevron"></div>
  </div>
</a>
