<div class="text-center">
  <div class="pb-5" data-aos="fade-left" data-aos-delay="200">
    <h4>Kontakt</h4>
  </div>
  <div data-aos="fade-right" class="container">
    <div class="row justify-content-md-center">
      <div class="col-sm-8">
        <form method="POST" action="https://formspree.io/kolkolukasz@gmail.com">
          <div class="form-row">
            <div class="form-group col-md-6">
              <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email">
            </div>
            <div class="form-group col-md-6">
              <input type="phone" name="phone" class="form-control" id="inputPassword" placeholder="Nr telefonu">
            </div>
          </div>
          <div class="form-group">
            <textarea class="form-control" name="contents" id="inputContents" placeholder="Treść wiadomości" rows="7"></textarea>
          </div>
          <div class="row justify-content-end submit-button">
            <button type="submit" class="btn btn-primary">Wyślij</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
