<div class="text-center">
  <div data-aos="fade-down" data-aos-delay="100">
    <h3>
      <span class="square-bracket">&lt;</span>
      <span class="i18nExperience0a"></span>
      <span class="square-bracket">/&gt;</span>
    </h3>
  </div>
  <div class="exp" data-aos="fade-left" data-aos-delay="115">
    <span class="star-text i18nExperience0b"></span>
    <i class="fas fa-laptop"></i>
    <span id="total-exp-it"></span>
  </div>
  <div class="exp" data-aos="fade-right" data-aos-delay="125">
    <span class="star-text i18nExperience0c"></span>
    <i class="fas fa-cogs"></i>
    <span id="total-exp-cad"></span>
  </div>
  <div data-aos-delay="150" class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-11 col-xl-8 mx-auto">
        <ul class="timeline text-left" data-aos="fade-up">
          <li class="timeline-inverted">
            <div class="timeline-badge"></div>
            <div class="timeline-panel" data-aos="fade-left">
              <div class="date">
                <span class="i18nExpCodest1"></span>
                <span id="exp-codest-diff"></span>
              </div>
              <div class="role">
                <span class="highlighted">JavaScript developer</span>
                <span class="i18nExpCodest0"></span>
              </div>
              <div class="description">
                <span class="i18nExpCodest2"></span>
              </div>
              <i class="fas fa-square-full"></i>
              <span>JavaScript, React, Vue.js</span>
              <br>
              <i class="fas fa-square-full"></i>
              <span class="i18nExpCodest3"></span>
              <div class="text-center pt-3 pb-1">
                <a
                target="_blank"
                rel="noopener"
                href="https://codesthq.com/"
                class="btn btn-primary btn-sm i18nProjects13"
                ></a>
              </div>
            </div>
          </li>
          <li >
            <div class="timeline-badge"></div>
            <div class="timeline-panel" data-aos="fade-right">
              <div class="date">
                <span>07.2017 - 03.2019</span>
                <span id="exp-simteract-diff"></span>
              </div>
              <div class="role">
                <span class="highlighted i18nExperience1b"></span>
                <span class="i18nExperience1c"></span>
              </div>
              <div class="description">
                <span class="i18nExperience1d"></span>
              </div>
              <i class="fas fa-square-full"></i>
              <span class="i18nExperience1f"></span>
              <br>
              <i class="fas fa-square-full"></i>
              <span class="i18nExperience1g"></span>
              <br>
              <i class="fas fa-square-full"></i>
              <span class="i18nExperience1h"></span>
              <br>
              <i class="fas fa-square-full"></i>
              <span class="i18nExperience1k"></span>
              <br>
              <i class="fas fa-square-full"></i>
              <span class="i18nExperience1l"></span>
              <div class="text-center pt-3 pb-1">
                  <a
                  target="_blank"
                  rel="noopener"
                  href="http://simteract.com/"
                  class="btn btn-primary btn-sm i18nProjects13"
                  ></a>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-badge"></div>
            <div class="timeline-panel" data-aos="fade-left" data-aos-delay="150">
              <div class="date">
                <span>01.2017 - 06.2017</span>
                <span id="exp-freelancer-diff"></span>
              </div>
              <div class="role">
                <span class="highlighted">JavaScript developer</span>
                - Freelancer
              </div>
              <div class="description">
                <span class="i18nExperience2a"></span>
              </div>
              <i class="fas fa-square-full"></i>
              <span class="i18nExperience2c"></span>
              <br>
              <i class="fas fa-square-full"></i>
              <span class="i18nExperience2d"></span>
          </li>
          <li >
            <div class="timeline-badge"></div>
            <div class="timeline-panel" data-aos="fade-right" data-aos-delay="150">
              <div class="date">
                <span>07.2014 - 12.2016</span>
                <span id="exp-redrooster-diff"></span>
              </div>
              <div class="role">
                <span class="highlighted">Mechanical design engineer</span>
                <span class="i18nExperience7"></span>
              </div>
              <div class="description">
                <i class="fas fa-square-full"></i>
                <span class="i18nExperience8"></span>
                <br>
                <i class="fas fa-square-full"></i>
                <span class="i18nExperience9"></span>
                <br>
                <i class="fas fa-square-full"></i>
                <span class="i18nExperience10"></span>
                <br>
                <i class="fas fa-square-full"></i>
                <span class="i18nExperience11"></span>
                <br>
                <i class="fas fa-square-full"></i>
                <span class="i18nExperience12"></span>
              </div>
              <div class="text-center pb-1">
                  <a
                  target="_blank"
                  rel="noopener"
                  href="https://redroosterlifting.com/"
                  class="btn btn-primary btn-sm i18nProjects13"
                  ></a>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-badge"></div>
            <div class="timeline-panel" data-aos="fade-left" data-aos-delay="150">
              <div class="date">
                <span>01.2014 - 06.2014</span>
                <span id="exp-wedzony-diff"></span>
              </div>
              <div class="role">
                <span class="highlighted">CAD designer</span>
                <span class="i18nExperience13"></span>
              </div>
              <div class="description">
                <i class="fas fa-square-full"></i>
                <span class="i18nExperience14"></span>
                <br>
                <i class="fas fa-square-full"></i>
                <span class="i18nExperience15"></span>
                <br>
                <i class="fas fa-square-full"></i>
                <span class="i18nExperience16"></span>
              </div>
              <div class="text-center pb-1">
                  <a
                  target="_blank"
                  rel="noopener"
                  href="http://wedzony.pl/"
                  class="btn btn-primary btn-sm i18nProjects13"
                  ></a>
              </div>
            </div>
          </li>
          <li >
            <div class="timeline-badge"></div>
            <div class="timeline-panel" data-aos="fade-right" data-aos-delay="150">
              <div class="date">
                <span>2013 - 2014</span>
              </div>
              <div class="role">
                <span class="i18nExperience17"></span>
                <span class="highlighted i18nExperience18"></span>
              </div>
              <div class="description">
                <i class="fas fa-square-full"></i>
                <span class="i18nExperience19"></span>
                <br>
                <i class="fas fa-square-full"></i>
                <span class="i18nExperience20"></span>
              </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-badge"></div>
            <div class="timeline-panel" data-aos="fade-left" data-aos-delay="150">
              <div class="date">
                <span>2009 - 2013</span>
              </div>
              <div class="role">
                <span class="i18nExperience21"></span>
                <span class="highlighted i18nExperience22"></span>
              </div>
              <div class="description">
                <i class="fas fa-square-full"></i>
                <span class="i18nExperience23"></span>
                <br>
                <i class="fas fa-square-full"></i>
                <span class="i18nExperience24"></span>
                <br>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="jarallax">
    <img class="jarallax-img" src="../images/keyboard.jpg" alt="" />
</div>
