<div class="text-center">
  <div data-aos="fade-down" data-aos-delay="100">
    <h3>
      <span class="square-bracket">&lt;</span>
      doświadczenie
      <span class="square-bracket">/ &gt;</span>
    </h3>
  </div>
  <div data-aos-delay="200" class="container pt-5">
    <div class="row justify-content-md-center">
      <div class="col-12 col-sm-12 col-xl-10 ">
        <ul class="timeline text-left" data-aos="fade-up">
          <li class="timeline-inverted">
            <div class="timeline-badge"></div>
            <div class="timeline-panel" data-aos="fade-left">
              <p>07.2017 - obecnie</p>
              <p>
                <span class="timeline-job">Software Developer</span> w Simteract - Rzeszów</p>
              <div class="job-desc">
                <i class="icon icon-circle"></i>symulacje, AI, game dev, R&D
                <br>
                <i class="icon icon-circle"></i>Rust, Unity - C#
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-badge"></div>
            <div class="timeline-panel" data-aos="fade-right" data-aos-delay="200">
              <p>01.2017 - 07.2017</p>
              <p>
                <span class="timeline-job">CAD Designer</span> - Freelancer</p>
              <div class="job-desc">
                <i class="icon icon-circle"></i>projektowanie maszyn i urządzeń dla klientów indywidualnych oraz firm
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-badge"></div>
            <div class="timeline-panel" data-aos="fade-left" data-aos-delay="200">
              <p>07.2014 - 12.2016</p>
              <p>
                <span class="timeline-job">Mechanical Design Engineer</span> w Red Rooster - Kraków</p>
              <div class="job-desc">
                <i class="icon icon-circle"></i>projektowanie maszyn i urządzeń dla branży Offshore
                <br>
                <i class="icon icon-circle"></i>modelowanie 3D w Inventor
                <br>
                <i class="icon icon-circle"></i>obliczenia wytrzymałościowe + MES
                <br>
                <i class="icon icon-circle"></i> wizualizacje 3D produktów w Autodesk Showcase i Adobe Photoshop
                <br>
                <i class="icon icon-circle"></i> animacje produktów w Adobe Premiere
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-badge"></div>
            <div class="timeline-panel" data-aos="fade-right" data-aos-delay="200">
              <p>01.2014 - 06.2014</p>
              <p>
                <span class="timeline-job">CAD Designer</span> w T. Wędzony Firma Inż. - Kraków</p>
              <div class="job-desc">
                <i class="icon icon-circle"></i>projektowanie maszyn przemysłowych opartych o systemy wizyjne
                <br>
                <i class="icon icon-circle"></i>modelowanie 3D w SolidWorks
                <br>
                <i class="icon icon-circle"></i>obliczenia wytrzymałościowe
                <br>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-badge"></div>
            <div class="timeline-panel" data-aos="fade-left" data-aos-delay="200">
              <p>2013 - 2014</p>
              <p>
                Politechnika Krakowska -
                <span class="timeline-job">mgr inż.</span>
              </p>
              <div class="job-desc">
                <i class="icon icon-circle"></i>kier. Automatyka i robotyka
                <br>
                <i class="icon icon-circle"></i>spec. Technologie informacyjne w systemach produkcyjnych
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-badge"></div>
            <div class="timeline-panel" data-aos="fade-right" data-aos-delay="200">
              <p>2009 - 2013</p>
              <p>Politechnika Rzeszowska -
                <span class="timeline-job">inż.</span>
              </p>
              <div class="job-desc">
                <i class="icon icon-circle"></i>kier. Mechatronika
                <br>
                <i class="icon icon-circle"></i>spec. Informatyka i robotyka
                <br>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
