<div class="text-center">
  <div data-aos="fade-down" data-aos-delay="100">
    <h3>
      <span class="square-bracket">&lt;</span>
      <span class="i18nExperience0"></span>
      <span class="square-bracket">/&gt;</span>
    </h3>
  </div>

  <div class="exp" data-aos="fade-left" data-aos-delay="115">
    <span class="star-text i18nExperience1"></span>
    <i class="fas fa-laptop"></i>
    <span id="total-exp"></span>
  </div>

  <div data-aos-delay="150" class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-11 col-xl-8 mx-auto">
        <ul class="timeline text-left" data-aos="fade-up">
          <li>
            <div class="timeline-badge"></div>
            <div class="timeline-panel" data-aos="fade-right" data-aos-delay="150">
              <div class="date">
                <span class="i18nExperience11"></span>
                <span>04.2017</span>
                <span id="exp-company2-diff"></span>
              </div>
              <div class="role">
                <span class="highlighted">Lorem ipsum</span>
                <span class="i18nExperience2"></span>
              </div>
              <div class="description">
                <i class="fas fa-square-full"></i>
                <span class="i18nExperience3"></span>
                <br />
                <i class="fas fa-square-full"></i>
                <span class="i18nExperience4"></span>
              </div>
              <div class="text-center pb-1">
                <a
                  target="_blank"
                  rel="noopener"
                  href=""
                  class="btn btn-primary btn-sm i18nProjects2"
                ></a>
              </div>
            </div>
          </li>

          <li class="timeline-inverted">
            <div class="timeline-badge"></div>
            <div class="timeline-panel" data-aos="fade-left" data-aos-delay="150">
              <div class="date">
                <span>07.2013 - 12.2016</span>
                <span id="exp-company1-diff"></span>
              </div>
              <div class="role">
                <span class="highlighted">Lorem ipsum</span>
                <span class="i18nExperience5"></span>
              </div>
              <div class="description">
                <i class="fas fa-square-full"></i>
                <span class="i18nExperience6"></span>
                <br />
                <i class="fas fa-square-full"></i>
                <span class="i18nExperience7"></span>
              </div>
              <div class="text-center pb-1">
                <a
                  target="_blank"
                  rel="noopener"
                  href=""
                  class="btn btn-primary btn-sm i18nProjects2"
                ></a>
              </div>
            </div>
          </li>

          <li>
            <div class="timeline-badge"></div>
            <div class="timeline-panel" data-aos="fade-right" data-aos-delay="150">
              <div class="date">
                <span>01.2010 - 06.2013</span>
                <span id="exp-company0-diff"></span>
              </div>
              <div class="role">
                <span class="highlighted">Lorem ipsum</span>
                <span class="i18nExperience8"></span>
              </div>
              <div class="description">
                <i class="fas fa-square-full"></i>
                <span class="i18nExperience9"></span>
                <br />
                <i class="fas fa-square-full"></i>
                <span class="i18nExperience10"></span>
              </div>
              <div class="text-center pb-1">
                <a
                  target="_blank"
                  rel="noopener"
                  href=""
                  class="btn btn-primary btn-sm i18nProjects2"
                ></a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="jarallax">
  <img class="jarallax-img" src="../images/keyboard.jpg" alt="jarallax-experience" />
</div>
