<div class="row text-center">
  <div class="col-11 col-sm-10 col-md-8 col-lg-6 col-xl-5 mx-auto">
    <div class="line row">
      <div class="col-12 col-sm-12">
        &copy; twistezo, 2019
      </div>
    </div>

    <div class="line row">
      <div class="col-12 col-sm-12 mx-auto">
        <a href="#" class="i18n-button-pl">wersja polska</a>
        <span>| </span>
        <a href="#" class="i18n-button-en">english version</a>
      </div>
    </div>

    <div class="line row">
      <div class="col-12 col-sm-12 mx-auto">
        <a href="">
          Mail&nbsp;
          <i class="icon far fa-envelope"></i>
        </a>
        <a href="" target="_blank" rel="noopener">
          LinkedIn&nbsp;
          <i class="icon fab fa-linkedin"></i>
        </a>
        <a href="http://github.com/twistezo" target="_blank" rel="noopener">
          GitHub&nbsp;
          <i class="icon fab fa-github"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="wrapper">
  <a href="#about-me" class="go-up d-flex justify-content-center align-items-center">
    <i class="fas fa-chevron-up"></i>
  </a>
</div>
