<div class="text-center">
  <div class="row">
    <div class="col-sm-12">
      &copy; twistezo, 2018
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <hr class="pt-2">
      <div class="row">
        <div class="col-sm-4">
          <a href="mailto:kolkolukasz@gmail.com">
            <i class="fa fa-envelope fa-2x"></i>
          </a>
        </div>
        <div class="col-sm-4">
          <a href="http://www.linkedin.com/in/lukaszkolko/" target="_blank" rel="noopener">
            <i class="fa fa-linkedin-square fa-2x"></i>
          </a>
        </div>
        <div class="col-sm-4">
          <a href="http://github.com/twistezo" target="_blank" rel="noopener">
            <i class="fa fa-github-alt fa-2x"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-4"></div>
  </div>

</div>
