<div class="row justify-content-md-center pb-3">
  &copy; twistezo, 2018
</div>
<div class="row pt-3">
  <div class="mx-auto">
    <a href="mailto:kolkolukasz@gmail.com">
      Mail
      <i class="fa fa-envelope fa-2x"></i>
    </a>
    <a href="http://www.linkedin.com/in/lukaszkolko/" target="_blank" rel="noopener">
      LinkedIn
      <i class="fa fa-linkedin-square fa-2x"></i>
    </a>
    <a href="http://github.com/twistezo" target="_blank" rel="noopener">
      Github
      <i class="fa fa-github fa-2x"></i>
    </a>
  </div>
</div>
<div class="wrapper">
  <a href="#about-me" class="go-up">
    <i class="fa fa-angle-double-up fa-4x"></i>
  </a>
</div>
