<nav class="navbar navbar-expand-lg navbar-dark sticky-navbar">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarNav" class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 mx-auto">
      <li class="nav-item">
        <a class="nav-link i18nNavbar0" href="#about-me"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link i18nNavbar1" href="#skills"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link i18nNavbar2" href="#experience"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link i18nNavbar3" href="#projects"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link i18nNavbar4" href="#references"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link i18nNavbar5" href="#contact"></a>
      </li>
    </ul>
  </div>
</nav>
