<div class="text-center">
  <div data-aos="fade-down" data-aos-delay="100">
    <h3>
      <span class="square-bracket">&lt;</span>
      <span class="i18nProjects0"></span>
      <span class="square-bracket">/&gt;</span>
    </h3>
  </div>
  <div class="container-fluid pt-5" data-aos="fade-up" data-aos-delay="150">
    <div class="row">
      <div class="col-12 col-sm-10 col-lg-11 col-xl-8 mx-auto">
        <div class="pb-5 button-group filters-button-group" data-aos="fade-down" data-aos-delay="150">
          <button class="btn btn-primary active" data-filter="*">
            <span class="i18nProjects1"></span>
          </button>
          <button class="btn btn-primary" data-filter=".java">Java</button>
          <button class="btn btn-primary" data-filter=".js">JavaScript</button>
          <button class="btn btn-primary" data-filter=".rust">Rust</button>
        </div>
        <div class="grid">
          <div class="card element-item java">
            <img class="card-img-top" src="../images/p1.png">
            <div class="card-body ">
              <h4 class="card-title">Sticky Notes</h4>
              <p class="card-text i18nProjects2"></p>
              </p>
            </div>
            <div class="card-footer">
              <a target="_blank" rel="noopener" href="https://github.com/twistezo/sticky-notes" class="btn btn-primary" style="margin-right:10px;">Web</a>
              <a target="_blank" rel="noopener" href="https://github.com/twistezo/sticky-notes-android-client" class="btn btn-primary">Android</a>
            </div>
          </div>
          <div class="card element-item java">
            <img class="card-img-top" src="../images/p2.png">
            <div class="card-body">
              <h4 class="card-title">Car Rental</h4>
              <p class="card-text i18nProjects3"></p>
            </div>
            <div class="card-footer">
              <a target="_blank" rel="noopener" href="https://github.com/twistezo/car-rental" class="btn btn-primary i18nProjects12"></a>
            </div>
          </div>
          <div class="card element-item java">
            <img class="card-img-top" src="../images/p3.png">
            <div class="card-body">
              <h4 class="card-title">Ninja vs Zombie</h4>
              <p class="card-text i18nProjects4"></p>
            </div>
            <div class="card-footer">
              <a target="_blank" rel="noopener" href="https://github.com/twistezo/ninja-vs-zombie" class="btn btn-primary i18nProjects12"></a>
            </div>
          </div>
          <div class="card element-item js">
            <img class="card-img-top" src="../images/p7.jpg">
            <div class="card-body">
              <h4 class="card-title">Little Big Web Service</h4>
              <p class="card-text i18nProjects5"></p>
            </div>
            <div class="card-footer">
              <a target="_blank" rel="noopener" href="https://github.com/twistezo/little-big-web-service" class="btn btn-primary i18nProjects12"></a>
            </div>
          </div>
          <div class="card element-item rust">
            <img class="card-img-top" src="../images/p4.jpg">
            <div class="card-body">
              <h4 class="card-title">Traffic AI&trade;</h4>
              <p class="card-text i18nProjects6"></p>
            </div>
            <div class="card-footer">
              <a target="_blank" rel="noopener" href="http://simteract.com/" class="btn btn-primary i18nProjects12"></a>
            </div>
          </div>
          <div class="card element-item java">
            <img class="card-img-top" src="../images/p8.jpg">
            <div class="card-body">
              <h4 class="card-title">My Blockchain</h4>
              <p class="card-text i18nProjects7"></p>
            </div>
            <div class="card-footer">
              <a target="_blank" rel="noopener" href="https://github.com/twistezo/my-blockchain" class="btn btn-primary i18nProjects12"></a>
            </div>
          </div>
          <div class="card element-item java">
            <img class="card-img-top" src="../images/p6.png">
            <div class="card-body">
              <h4 class="card-title">Java Learning Notes</h4>
              <p class="card-text i18nProjects8"></p>
            </div>
            <div class="card-footer">
              <a target="_blank" rel="noopener" href="https://github.com/twistezo/java-learning-notes" class="btn btn-primary i18nProjects12"></a>
            </div>
          </div>
          <div class="card element-item java">
            <img class="card-img-top" src="../images/p5.png">
            <div class="card-body">
              <h4 class="card-title">Book Downloader</h4>
              <p class="card-text i18nProjects9"></p>
            </div>
            <div class="card-footer">
              <a target="_blank" rel="noopener" href="https://github.com/twistezo/book-downloader" class="btn btn-primary i18nProjects12"></a>
            </div>
          </div>
          <div class="card element-item js">
            <img class="card-img-top" src="../images/p9.jpg">
            <div class="card-body">
              <h4 class="card-title">Portfolio v1</h4>
              <p class="card-text i18nProjects10"></p>
            </div>
            <div class="card-footer">
              <a target="_blank" rel="noopener" href="https://github.com/twistezo/portfolio-old" class="btn btn-primary i18nProjects12"></a>
            </div>
          </div>
          <div class="card element-item js">
            <img class="card-img-top" src="../images/p10.jpg">
            <div class="card-body">
              <h4 class="card-title">Portfolio v2</h4>
              <p class="card-text i18nProjects11"></p>
            </div>
            <div class="card-footer">
              <a target="_blank" rel="noopener" href="https://github.com/twistezo/portfolio" class="btn btn-primary i18nProjects12"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="jarallax">
  <img class="jarallax-img" src="../images/motherboard.jpg" alt="">
</div>
