<div class="text-center">
  <div data-aos="fade-down" data-aos-delay="100">
    <h3>
      <span class="square-bracket">&lt;</span>
      <span class="i18nProjects0"></span>
      <span class="square-bracket">/&gt;</span>
    </h3>
    <p>
      <span style="color: var(--important-lvl-3)">*</span>
      <span class="star-text pt-2 i18nProjects0a"> </span>
      <a href="http://github.com/twistezo" target="_blank" rel="noopener">
        GitHub
      </a>
      <span class="i18nProjects0b"></span>
    </p>
  </div>
  <div class="container-fluid pt-4">
    <div class="col-12 col-sm-11 col-xl-8 mx-auto">
      <div class="cards pt-4">
        <div class="card-deck pb-4">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title"></h4>
              <p class="card-text"></p>
              <p class="card-text">
                <span class="orange-text i18nProjects14"></span>
                <span class="stack"></span>
              </p>
            </div>
            <div class="card-footer">
              <a
                target="_blank"
                rel="noopener"
                href=""
                class="btn btn-primary i18nProjects13"
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="jarallax">
    <img class="jarallax-img" src="../images/team.jpg" alt="" />
  </div>
</div>
