<div class="text-center">
  <div data-aos="fade-down" data-aos-delay="100">
    <h3>
      <span class="square-bracket">&lt;</span>
      <span class="i18nReferences0"></span>
      <span class="square-bracket">/&gt;</span>
    </h3>
  </div>
  <div class="container-fluid pt-5">
    <div class="row">
      <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-5 mx-auto">

        <div class="pb-5" data-aos="fade-right" data-aos-delay="150">
          <div class="reference-field-quote-background text-justify">
            <i class="icon-quote-left"></i>
            <div class="reference-field-quote">Łukasz learns new technologies and programming languages very fast. He pays attention to the details. Working
              with him is a pleasure.
            </div>
            <i class="icon-quote-right"></i>
          </div>
          <div class="text-right float-right pt-3">
            Lead Programmer, Simteract
            <div class="reference-author">
              <a target="_blank" rel="noopener" href="https://www.linkedin.com/in/adam-rzepka-2563827a">Adam Rzepka</a>
            </div>
          </div>
        </div>

        <div class="pt-5 pb-5" data-aos="fade-left" data-aos-delay="150">
          <div class="reference-field-quote-background text-justify">
            <i class="icon-quote-left"></i>
            <div class="reference-field-quote">Łukasz is a highly motivated and productive progammer, who always pays attention to code quality and looks for
              most elegant solutions.
            </div>
            <i class="icon-quote-right"></i>
          </div>
          <div class="text-right float-right pt-3">
            Software Engineer, Simteract
            <div class="reference-author">
              <a target="_blank" rel="noopener" href="https://www.linkedin.com/in/jakub-meissner-b92565b4">Jakub Meissner</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="jarallax">
  <img class="jarallax-img" src="../images/motherboard.jpg" alt="">
</div>
