<div class="text-center">
  <div data-aos="fade-down" data-aos-delay="100">
    <h3>
      <span class="square-bracket">&lt;</span>
      <span class="i18nSkills0"></span>
      <span class="square-bracket">/&gt;</span>
    </h3>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-8 col-xl-5 mx-auto">
        <div class="row">
          <div class="col-sm-6" data-aos="fade-right" data-aos-delay="150">
            <h5 class="i18nSkills1"></h5>
            <p>
              <span>Lorem ipsum,</span>
              <span>Lorem ipsum</span>
            </p>
          </div>

          <div class="col-sm-6" data-aos="fade-left" data-aos-delay="150">
            <h5 class="i18nSkills2"></h5>
            <p>
              <span>Lorem ipsum, </span>
              <span>Lorem ipsum</span>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6" data-aos="fade-right" data-aos-delay="150">
            <h5 class="i18nSkills3"></h5>
            <p>
              <span>Lorem ipsum, </span>
              <span>Lorem ipsum</span>
            </p>
          </div>

          <div class="col-sm-6" data-aos="fade-left" data-aos-delay="150">
            <h5 class="i18nSkills4"></h5>
            <p>
              <span>Lorem ipsum, </span>
              <span>Lorem ipsum</span>
            </p>
          </div>
        </div>

        <div class="row skills-font text-center">
          <div class="col-sm-6" data-aos="fade-right" data-aos-delay="150">
            <h5 class="i18nSkills5"></h5>
            <p>
              <span>Lorem ipsum, </span>
              <span>Lorem ipsum</span>
            </p>
          </div>

          <div class="col-sm-6" data-aos="fade-left" data-aos-delay="150">
            <h5 class="i18nSkills6"></h5>
            <p>
              <span>Lorem ipsum, </span>
              <span>Lorem ipsum</span>
            </p>
          </div>
        </div>

        <div class="row" data-aos="fade-down" data-aos-delay="150">
          <div class="col-xl-12">
            <h5 class="i18nSkills7"></h5>
            <p>
              <span>Lorem ipsum, Lorem ipsum</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="jarallax">
  <img class="jarallax-img" src="../images/desk.jpg" alt="jarallax-skills" />
</div>
