<div class="text-center">
  <div data-aos="fade-down" data-aos-delay="100">
    <h3>
      <span class="square-bracket">&lt;</span>
      <span class="i18nSkills0"></span>
      <span class="square-bracket">/&gt;</span>
    </h3>
    <p>
      <span style="color: var(--important-lvl-3)">*</span>
      <span class="star-text pt-2 i18nSkills1"></span>
    </p>
  </div>
  <div class="container-fluid pt-5">
    <div class="row">
      <div class="col-12 col-sm-8 col-xl-5 mx-auto">
        <div class="row pt-1">
          <div class="col-sm-6" data-aos="fade-right" data-aos-delay="150">
            <h4>Back-end</h4>
            <p>
              <span style="color: var(--important-lvl-3)">Rust,</span>
              <span style="color: var(--important-lvl-2)">Java</span>
            </p>
          </div>
          <div class="col-sm-6" data-aos="fade-left" data-aos-delay="150">
            <h4>Front-end</h4>
            <p>
              <span style="color: var(--important-lvl-3)">JavaScript, </span>
              <span style="color: var(--important-lvl-2)">React</span>
            </p>
          </div>
        </div>
        <div class="row pt-1">
          <div class="col-sm-6" data-aos="fade-right" data-aos-delay="150">
            <h4 class="i18nSkills2"></h4>
            <p>
              <span style="color: var(--important-lvl-2)">Firebase,</span>
              <span style="color: var(--important-lvl-1)">SQL</span>
            </p>
          </div>
          <div class="col-sm-6" data-aos="fade-left" data-aos-delay="150">
            <h4 class="i18nSkills3"></h4>
            <p>
              <span style="color: var(--important-lvl-3)">UT,</span>
              <span style="color: var(--important-lvl-2)">TDD</span>
            </p>
          </div>
        </div>
        <div class="row pt-1 skills-font text-center">
          <div class="col-sm-6" data-aos="fade-right" data-aos-delay="150">
            <h4>OS</h4>
            <p>
              <span style="color: var(--important-lvl-3)">Windows,</span>
              <span style="color: var(--important-lvl-1)">Linux</span>
            </p>
          </div>
          <div class="col-sm-6" data-aos="fade-left" data-aos-delay="150">
            <h4 class="i18nSkills4"></h4>
            <p>
              <span style="color: var(--important-lvl-3)">Photoshop,</span>
              <span style="color: var(--important-lvl-1)">Premiere</span>
            </p>
          </div>
        </div>
        <div class="row pt-1" data-aos="fade-down" data-aos-delay="150">
          <div class="col-xl-12">
            <h4 class="i18nSkills5"></h4>
            <p>
              <span style="color: var(--important-lvl-3)"
                >VS Code, Git, npm, Cargo,</span
              >
              <span style="color: var(--important-lvl-2)">Webpack</span>
              <!-- <span style="color: var(--important-lvl-1)">Maven</span> -->
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="jarallax">
  <img class="jarallax-img" src="../images/keyboard.jpg" alt="" />
</div>
