<div class="text-center">
  <div data-aos="fade-down" data-aos-delay="100">
    <h3>
      <span class="square-bracket">&lt;</span>
      umiejętności
      <span class="square-bracket">/ &gt;</span>
      <p class="star-text pt-2">*kolor wg. częstotliwości używania</p>
    </h3>
  </div>
  <div class="container pt-5">
    <div class="row justify-content-md-center">
      <div class="col-12 col-sm-12 col-xl-10">
        <div class="row pt-2">
          <div class="col-sm-6" data-aos="fade-right" data-aos-delay="150">
            <h4>Back-end</h4>
            <p>
              <span style="color: var(--important-lvl-3)">Rust, Java,</span>
              <span style="color: var(--important-lvl-2)">Spring,</span>
              <span style="color: var(--important-lvl-1)">Unity - C#, Node.js</span>
            </p>
          </div>
          <div class="col-sm-6" data-aos="fade-left" data-aos-delay="150">
            <h4>Front-end</h4>
            <p>
              <span style="color: var(--important-lvl-3)">JavaScript, HTML, CSS,</span>
              <span style="color: var(--important-lvl-2)">React,</span>
              <span style="color: var(--important-lvl-1)">Angular</span>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6" data-aos="fade-right" data-aos-delay="150">
            <h4>Bazy danych</h4>
            <p>
              <span style="color: var(--important-lvl-3)">Firebase, SQL,</span>
              <span style="color: var(--important-lvl-2)">Hibernate,</span>
              <span style="color: var(--important-lvl-1)">MongoDB</span>
            </p>
          </div>
          <div class="col-sm-6" data-aos="fade-left" data-aos-delay="150">
            <h4>Testy</h4>
            <p>
              <span style="color: var(--important-lvl-3)">UT,</span>
              <span style="color: var(--important-lvl-2)">TDD</span>
            </p>
          </div>
        </div>
        <div class="row skills-font pb-1 text-center">
          <div class="col-sm-6" data-aos="fade-right" data-aos-delay="150">
            <h4>OS</h4>
            <p>
              <span style="color: var(--important-lvl-3)">Windows,</span>
              <span style="color: var(--important-lvl-2)">Linux,</span>
              <span style="color: var(--important-lvl-1)">Android</span>
            </p>
          </div>
          <div class="col-sm-6" data-aos="fade-left" data-aos-delay="150">
            <h4>Grafika</h4>
            <p>
              <span style="color: var(--important-lvl-3)">Adobe Photoshop,</span>
              <span style="color: var(--important-lvl-1)">Adobe Premiere</span>
            </p>
          </div>
        </div>
        <div class="row" data-aos="fade-down" data-aos-delay="150">
          <div class="col-xl-12">
            <h4>Ulubione narzędzia</h4>
            <p>
              <span style="color: var(--important-lvl-3)">VS Code, Git, npm,</span>
              <span style="color: var(--important-lvl-2)">Webpack, Travis,</span>
              <span style="color: var(--important-lvl-1)">Maven</span>
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
