<nav id="nav-spy" class="navbar navbar-dark navbar-expand-md fixed-top mr-auto">
	<div class="container">
		<span class="navbar-brand" href="#" routerLink="main">
			<span class="blinker">_</span>
		<span class="text"></span>
		</span>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
		 aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link hide-on-click" href="#section1">O MNIE</a>
				</li>
				<li class="nav-item">
					<a class="nav-link hide-on-click" href="#section2">UMIEJĘTNOŚCI</a>
				</li>
				<li class="nav-item">
					<a class="nav-link hide-on-click" href="#section3">DOŚWIADCZENIE</a>
				</li>
				<li class="nav-item">
					<a class="nav-link hide-on-click" href="#section4">PROJEKTY</a>
				</li>
				<li class="nav-item">
					<a class="nav-link hide-on-click" href="#section5">KONTAKT</a>
				</li>
				<li class="nav-item" *ngIf="authService.user | async">
					<a class="nav-link" routerLink="blog" routerLinkActive="active">BLOG</a>
				</li>
				<li class="nav-item" *ngIf="authService.user | async">
					<a class="nav-link" routerLink="dashboard" routerLinkActive="active">
						ZARZĄDZAJ
					</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fa fa-sign-in" aria-hidden="true"></i>
					</a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
						<div class="container-fluid">
							<app-firebase-auth></app-firebase-auth>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</nav>
<div>
	<router-outlet></router-outlet>
	<div class="cookie-warning hidden">
		<div class="cookie-warning-text text-justify">
			Strona wykorzystuje pliki cookies oraz podobne technologie m.in. w celach statystycznych.
			<a href="http://wszystkoociasteczkach.pl/" target="_blank" rel="noopener">Dowiedz się więcej</a>
			<div class="row mx-auto justify-content-center pt-3">
				<button class="btn btn-primary btn-cookie-warning">Zrozumiałem</button>
			</div>
		</div>
	</div>
</div>
<footer class="text-center">
	<div class="overlay-up-icon-div">
		<a href="" id="back-to-top" data-toggle="tooltip">
			<i class="fa fa-angle-double-up overlay-up-icon"></i>
		</a>
	</div>
	<div class="container copyrights">
		&copy; twistezo, 2017
	</div>
	<div class="pt-3">
		<a href="mailto:kolkolukasz@gmail.com">Mail <i class="icon fa fa-envelope"></i></a>
		<a href="http://www.linkedin.com/in/lukaszkolko/" target="_blank" rel="noopener">Linkedin <i class="icon fa fa-linkedin-square"></i></a>
		<a href="http://github.com/twistezo" target="_blank" rel="noopener">Github <i class="icon fa fa-github-alt"></i></a>
		<a href="http://github.com/twistezo/portfolio">Kod źródłowy <i class="icon fa fa-code"></i></a>
	</div>
</footer>