<div id="blog" class="container-fluid">
	<div class="row">
		<div class="col-sm-7 mx-auto">

			<h3>Najnowsze posty:</h3>
			<div class="col-sm-10">
				<div class="blog-post" *ngFor="let p of (posts$ | async)">
					<h4> {{ p.title }} </h4>
					<p>{{ p.date }}, {{ p.author }} </p>
					{{ p.body }}
				</div>
				<nav class="blog-pagination">
					<a class="btn btn-outline-primary" href="#">Older</a>
					<a class="btn btn-outline-secondary disabled" href="#">Newer</a>
				</nav>
			</div>
		</div>
	</div>
</div>