.skill-circle {
  text-align: center;
}

.skill-circle strong {
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 1px;
  position: absolute;
  top: 24px;
  left: 0;
  width: 100%;
  text-align: center;
}

.skill-circle span {
  font-size: 14px;
}

.skill-circle strong:hover {
  cursor: default;
  font-size: 28px;
  top: 18px;
  color: var(--second-color);
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
