.job-date {
  padding-bottom: 2px;
}

.job-desc {
  line-height: 170%;
}

.job-highlight {
  color: var(--timeline-highlight);
}

.job-date, .job-name, .job-desc {
  color: var(--white-text-color);
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.timeline ul {
  background: var(--timeline-background);
  padding-left: 0px;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 4px;
  margin: 0 auto;
  padding-top: 20px;
  background: var(--gray);
}


/* circle */

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 9px;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 2px;
  width: 400px;
  padding: 15px;
  background: var(--timeline-item);
  border: 2px;
  border-radius: 5px;
  box-shadow: 4px 4px 0px 0px var(--second-color);
}


/* vertical position of element */

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 10px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -16px;
  border-width: 8px 16px 8px 0;
  border-color: transparent var(--timeline-item) transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -16px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent var(--timeline-item);
  filter: drop-shadow(4px 4px 0px var(--second-color));
}

time {
  display: block;
  margin-bottom: 8px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: var(--second-color);
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 950px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 0px;
  }
  .timeline ul li div {
    width: calc(100vw - 140px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent var(--timeline-item) transparent transparent;
    filter: drop-shadow(0px 0px 0px var(--second-color));
  }
  .timeline ul li:nth-child(odd) div {
    transform: none;
  }
  .timeline ul li:nth-child(even) div {
    transform: none;
  }
}