html {
  --background: white;
  --second-background: #343a40;
  --navbar-color: #222929;
  --navbar-hover-color: var(--navbar-color:);
  --footer-color: var(--navbar-color);
  --second-color: orange;
  --my-blue: #2aabd2;
  --black-text-color: #333;
  --white-text-color: #f5f5f5;
  --timeline-background: var(--second-background);
  --timeline-item: #434A54;
  --timeline-highlight: var(--second-color);
  position: relative;
}

body {
  background-color: var(--second-background);
  color: var(--white-text-color);
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 110px;
  font-size: 13px !important;
  font-weight: 400 !important;
}

.navbar {
  font-size: 11px !important;
  font-family: 'Roboto', sans-serif !important;
}

footer {
  font-size: 13px !important;
  letter-spacing: 1px !important;
  font-family: 'Roboto', sans-serif !important;
}

.btn,
.form-control {
  font-size: 12px !important;
}

.job-date,
.job-name,
.job-company {
  letter-spacing: 1px !important;
}

/* Skill circle */
.c100 {
  font-size: 80px !important;
  letter-spacing: 1px;
  color: red !important;
}

a {
  color: var(--my-blue);
}

a:hover {
  color: var(--second-color);
  text-decoration: none;
}

h3 {
  font-size: 26px !important;
  font-weight: 400 !important;
  letter-spacing: 5px !important;
  text-align: center !important;
}
h4 {
  font-size: 18px !important;
  font-weight: 400 !important;
  letter-spacing: 1px !important;
  text-align: center !important;
}

.btn-primary,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:visited {
  background-color: var(--second-color) !important;
  border-color: var(--second-color) !important;
  letter-spacing: 1px !important;
  color: black;
  border-radius: 3px;
}

.btn-primary:hover {
  box-shadow: 2px 2px 0px 1px var(--my-blue);
  color: black;
}

#section1 {
  padding-top: 80px;
  padding-bottom: 40px;
  text-align: center;
}

#section2, #section3, #section4, #section5 {
  padding-top: 80px;
  padding-bottom: 80px;
}

#section5 {
  padding-bottom: 120px;
}

#blog,
#dashboard {
  padding-top: 80px;
  padding-bottom: 60px;
}

.dashboard {
  padding-bottom: 80px;
}

hr.style-one,
hr.style-two {
  border: 0;
  height: 2px;
}

hr.style-one {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), var(--my-blue), rgba(0, 0, 0, 0));
  width: 50%;
}

hr.style-two {
  background-image: linear-gradient(to right, var(--my-blue), rgba(0, 0, 0, 0));
  margin-right: 80%;
}

.my-photo {
  width: 250px;
}

.centered-element {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.jarallax {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  z-index: 0;
  min-height: 300px;
}
.jarallax > .jarallax-img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.dropdown-menu {
  background-color: var(--navbar-color);
  min-width: 200px;
  border-radius: 5px 5px 5px 5px ; 
  margin-top: 2px;
  padding-top: 0px;
  padding-bottom: 0px;
  cursor: default;
}

.fa-sign-in {
  vertical-align: middle;
  font-size: 20px;
  padding-bottom: 2px;
}

.fa-circle {
  vertical-align: middle;
  font-size: 5px !important;
  color: var(--second-color);
}

.dropdown {
  cursor: pointer;
}

.alert-danger {
  background-color: #ED5565;
  border-color: #ED5565;
  color: var(--white-text-color);
  margin-top: 5px;
  padding: 5px 5px 5px 5px;
  box-shadow: 2px 2px 0px 1px var(--my-blue);
  border-radius: 4px;
}

.form-control:focus,
.form-control:hover {
  border-color: var(--second-color);
}

.nav-tabs > li > a {
  color: var(--white-text-color) !important;
}

.nav-tabs {
  border-color: var(--second-color) !important;
}

.nav-tabs > li > a.active,
.nav-tabs > li  > a:hover,
.nav-tabs > li.active > a:focus {
  color: var(--second-color) !important; 
  border-color: var(--second-color) !important;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) { 
  .text,
  .blinker {
    font-size: 13px !important;
  }
  .card {
    margin-bottom: 15px;
  }
  .bounce-in-top {
    -webkit-animation: scale-in-center .5s cubic-bezier(.25,.46,.45,.94) both !important ;animation:scale-in-center .5s cubic-bezier(.25,.46,.45,.94) both !important
  }

  .scale-in-ver-center {
    -webkit-animation: scale-in-center .5s cubic-bezier(.25,.46,.45,.94) both !important ;animation:scale-in-center .5s cubic-bezier(.25,.46,.45,.94) both !important 
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) { }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) { 
  .text,
  .blinker {
    display: none;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) { }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399px) { }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1400px) { 
  body {
    font-size: 13px !important;
  }
  .navbar {
    font-size: 13px !important;
  }
  footer {
    font-size: 15px !important;
  }
  h3 {
    font-size: 30px !important;
  }
  h4 {
    font-size: 20px !important;
  }
  .btn,
  .form-control {
    font-size: 12px !important;
  }
  .text,
  .blinker {
    font-size: 24px !important;
  }
}

.scale-in-ver-center{-webkit-animation:scale-in-ver-center .5s cubic-bezier(.25,.46,.45,.94) .5s both;animation:scale-in-ver-center .5s cubic-bezier(.25,.46,.45,.94) .5s both}
@-webkit-keyframes scale-in-ver-center{0%{-webkit-transform:scaleY(0);transform:scaleY(0);opacity:1}100%{-webkit-transform:scaleY(1);transform:scaleY(1);opacity:1}}@keyframes scale-in-ver-center{0%{-webkit-transform:scaleY(0);transform:scaleY(0);opacity:1}100%{-webkit-transform:scaleY(1);transform:scaleY(1);opacity:1}}

.heartbeat{-webkit-animation:heartbeat 1.5s ease-in-out infinite both;animation:heartbeat 1.5s ease-in-out infinite both}
 @-webkit-keyframes heartbeat{from{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:center center;transform-origin:center center;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);transform:scale(.98);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);transform:scale(.87);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}45%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}@keyframes heartbeat{from{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:center center;transform-origin:center center;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);transform:scale(.98);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);transform:scale(.87);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}45%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}

.bounce-in-top{-webkit-animation:bounce-in-top 1s both;animation:bounce-in-top 1s both}
 @-webkit-keyframes bounce-in-top{0%{-webkit-transform:translateY(-500px);transform:translateY(-500px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:0}38%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}55%{-webkit-transform:translateY(-65px);transform:translateY(-65px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}72%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}81%{-webkit-transform:translateY(-28px);transform:translateY(-28px);-webkit-animation-timing-function:ease-in}90%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}95%{-webkit-transform:translateY(-8px);transform:translateY(-8px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}100%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}@keyframes bounce-in-top{0%{-webkit-transform:translateY(-500px);transform:translateY(-500px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:0}38%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}55%{-webkit-transform:translateY(-65px);transform:translateY(-65px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}72%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}81%{-webkit-transform:translateY(-28px);transform:translateY(-28px);-webkit-animation-timing-function:ease-in}90%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}95%{-webkit-transform:translateY(-8px);transform:translateY(-8px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}100%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}

.scale-in-center{-webkit-animation:scale-in-center .5s cubic-bezier(.25,.46,.45,.94) both;animation:scale-in-center .5s cubic-bezier(.25,.46,.45,.94) both}
@-webkit-keyframes scale-in-center{0%{-webkit-transform:scale(0);transform:scale(0);opacity:1}100%{-webkit-transform:scale(1);transform:scale(1);opacity:1}}@keyframes scale-in-center{0%{-webkit-transform:scale(0);transform:scale(0);opacity:1}100%{-webkit-transform:scale(1);transform:scale(1);opacity:1}}