html {
  --navbar-color: #343a40;
  --navbar-hover-color: var(--navbar-color:);
  --footer-color: var(--navbar-color);
  --second-color: orange;
  --white-text-color: #f5f5f5;
  --my-blue: #2aabd2;
  --my-gray-background: #f9f9f9;
  position: relative;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 110px;
}

body,
h3,
h4 {
  font-weight: 400;
}

body,
.navbar,
.btn,
.form-control {
  font-size: 11px !important;
}

.circle {
  font-size: 12px !important;
  letter-spacing: 2px;
}

footer {
  font-size: 12px !important;
  letter-spacing: 1px;
}

/* Size of skills circles */
.c100 {
  font-size: 100px !important;
}

.bg-light {
  background-color: var(--my-gray-background) !important;
}

a {
  color: #006A8C;
}

a:hover {
  color: var(--second-color);
  text-decoration: none;
}

.navbar,
.footer,
.h3,
.h4,
.circles,
.skills-font {
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-size: 26px;
  letter-spacing: 5px !important;
  text-align: center;
}
h4 {
  font-size: 16px;
  letter-spacing: 1px !important;
}



.skills-font {
  letter-spacing: 1px;
}

.btn-primary,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:visited {
  background-color: var(--my-blue) !important;
  border-color: var(--my-blue) !important;
}

.btn-primary:hover {
  box-shadow: 0px 0px 15px black !important;
}

#section1 {
  padding-top: 80px;
  padding-bottom: 40px;
  text-align: center;
}

#section2, #section3, #section3, #section4 {
  padding-top: 80px;
  padding-bottom: 80px;
}

#section4 {
  padding-bottom: 120px;
}

#blog,
#dashboard {
  padding-top: 80px;
  padding-bottom: 60px;
}

.blog-post {
  padding-bottom: 20px;
}

hr.style-one {
  border: 0;
  height: 2px;
}

hr.style-one {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), var(--my-blue), rgba(0, 0, 0, 0));
  width: 50%;
}

.my-photo {
  width: 150px;
  height: 200px;
}

.centered-element {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
