.card {
    background-color: var(--second-background);
    border-color: var(--my-blue);
}

.card-deck {
    padding-bottom: 15px;
}

.card-block {
    padding-bottom: 15px;
}

.card-body {
    padding-top: 5px;
}

.card-footer {
    background-color: var(--second-background);
    border-width: 0px;
    padding-top: 0px;
    padding-bottom: 20px;
}

.card:hover {
    box-shadow: 0px 0px 0px 1px var(--second-color);
    border-color: var(--second-color);
}

.form-control:hover {
    box-shadow: 0px 0px 0px 1px var(--second-color);
}

hr.style-three {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), var(--my-blue), rgba(0, 0, 0, 0));
    width: 70%;
}